Package: gnuchess-book
Priority: optional
Section: games
Maintainer: Nikhil Nair <nnair@debian.org>
Version: =v
Depends: gnuchess
Description: A huge openings book for Gnuchess.
 A must for the serious Gnuchess user, gnuchess-book replaces the standard,
 small openings book with a far more extensive version, covering the first
 26 plys (half-moves) of the game.  The book is in a binary rather than a
 human-readable form.
Architecture: =A
Source: gnuchess_=V-=D
