COMPAT.tmpl
===========

This is a template for compatibility submissions for vtprint.  If you
have hardware or software that isn't represented in the "COMPAT" file,
then I'd *really love* to hear about what your set up is, and what level
of success you have had with it!

If you have compiled vtprint, you can test it by doing "vtprint testfile"
in the source directory, or doing "make test".

The following is a description of fields used in a COMPAT entry.  You
will find a blank COMPAT entry to fill out at the end of this file.  If
you would like to see an example entry, take a look at the "COMPAT"
file included.

----------------------------------------------------------------------------
success [y/n]       : whether or not vtprint works for you
formfeed [y/n]      : do formfeeds work for you?
reported_by         : the name of the person reporting this
reported_by_email   : e-mail address of same person, if available
credit [y/n]        : whether or not I can include that name along with
                      the entry so people with similiar set-ups can
                      ask for advice if they have difficulty. (This field
                      isn't included in the distributed COMPAT  file.)

terminal_type       : the type of terminal or emulation used (e.g. "vt100")
terminal_platform   : the emulator platform being used, or "true" if the
                      terminal is the genuine article.
terminal_media      : type of communications, eg "serial", "modem", "ethernet"
terminal_sw         : name of emulation software being used, e.g. "Telemate"
terminal_sw_version : version information of emulator, e.g. "4.12"
terminal_notes      : any notes you'd think others would benefit by
----------------------------------------------------------------------------

===> cut here <===
----------------------------------------------------------------------------
success [y/n]       :
formfeed [y/n]      :
reported_by         :
reported_by_email   :
credit [y/n]        :

terminal_type       :
terminal_platform   :
terminal_media      :
terminal_sw         :
terminal_sw_version :
terminal_notes      :
----------------------------------------------------------------------------
