#ifndef XCOMM
#define XCOMM #
#endif

XCOMM ImageMagick Imakefile info.  This contains any special redefinitions.
XCOMM
XCOMM Copyright 1997 E. I. du Pont de Nemours & Company
XCOMM
XCOMM Permission to use, copy, modify, distribute, and sell this software and
XCOMM its documentation for any purpose is hereby granted without fee,
XCOMM provided that the above Copyright notice appear in all copies and that
XCOMM both that Copyright notice and this permission notice appear in
XCOMM supporting documentation, and that the name of E. I. du Pont de Nemours
XCOMM and Company not be used in advertising or publicity pertaining to
XCOMM distribution of the software without specific, written prior
XCOMM permission.  E. I. du Pont de Nemours & Company makes no representations
XCOMM about the suitability of this software for any purpose.  It is provided
XCOMM "as is" without express or implied warranty.
XCOMM
XCOMM E. I. du Pont de Nemours & Company disclaims all warranties with regard
XCOMM to this software, including all implied warranties of merchantability
XCOMM and fitness, in no event shall E. I. du Pont de Nemours & Company be
XCOMM liable for any special, indirect or consequential damages or any
XCOMM damages whatsoever resulting from loss of use, data or profits, whether
XCOMM in an action of contract, negligence or other tortious action, arising
XCOMM out of or in connection with the use or performance of this software.

XCOMM If your system does not have /usr/include/dirent.h, define:
XCOMM
XCOMM DIRENT_DEFINES= -DHAVE_SYS_DIR_H

XCOMM Define HasShape if your X server supports the Shape Extension and
XCOMM HasSharedMemory for the Shared Memory Extension.
XCOMM
XCOMM EXTENSIONS_DEFINES= -DHasShape -DHasSharedMemory

XCOMM Set DoSharedLib to HasSharedLibraries to build ImageMagick with shared
XCOMM libraries.
XCOMM
XCOMM #define DoSharedLib  HasSharedLibraries

XCOMM By default, the maximum color value is 255.  To increase the maximum to
XCOMM 65535 define:
XCOMM
XCOMM QUANTUM_DEFINES= -DQuantumLeap

XCOMM Define HasDPS if your X server supports the Display Postscript
XCOMM extension.  If you have the HDF, JBIG, JPEG, MPEG, PNG, or TIFF
XCOMM libraries define HasHDF, HasJBIG, HasJPEG, HasMPEG, HasPNG, or
XCOMM or HasTIFF respectively.  Make sure the path names are correct.  See
XCOMM README for more details.
XCOMM
XCOMM #define HasDPS
XCOMM #define HasHDF
XCOMM #define HasJBIG
XCOMM #define HasJPEG
XCOMM #define HasMPEG
XCOMM #define HasPNG
XCOMM #define HasTIFF

#ifdef HasDPS
DPS_DEFINES= -DHasDPS
DPS_INCLUDES= -I/usr/openwin/include/X11
DPS_FLAGS= -L/usr/openwin/lib
DPS_LIBRARIES= -ldpstk -ldps
#endif

#ifdef HasHDF
HDF_DEFINES= -DHasHDF
HDF_INCLUDES= -I$(TOP)/hdf/hdf/src
HDF_FLAGS= -L$(TOP)/hdf/hdf/src
HDF_LIBRARIES= -ldf
#endif

#ifdef HasJBIG
JBIG_DEFINES= -DHasJBIG
JBIG_INCLUDES= -I$(TOP)/jbig/libjbig
JBIG_FLAGS= -L$(TOP)/jbig/libjbig
JBIG_LIBRARIES= -ljbig
#endif

#ifdef HasJPEG
JPEG_DEFINES= -DHasJPEG
JPEG_INCLUDES= -I$(TOP)/jpeg
JPEG_FLAGS= -L$(TOP)/jpeg
JPEG_LIBRARIES= -ljpeg
#endif

#ifdef HasMPEG
MPEG_DEFINES= -DHasMPEG
MPEG_INCLUDES= -I$(TOP)/mpeg
MPEG_FLAGS= -L$(TOP)/mpeg
MPEG_LIBRARIES= -lmpeg
#endif

#ifdef HasPNG
PNG_DEFINES= -DHasPNG
PNG_INCLUDES= -I$(TOP)/png -I$(TOP)/zlib
PNG_FLAGS= -L$(TOP)/png -L$(TOP)/zlib
PNG_LIBRARIES= -lpng -lz
#endif

#ifdef HasTIFF
TIFF_DEFINES= -DHasTIFF
TIFF_INCLUDES= -I$(TOP)/tiff/libtiff
TIFF_FLAGS= -L$(TOP)/tiff/libtiff
TIFF_LIBRARIES= -ltiff
#endif

XCOMM Might need extra libraries for xtp to link correctly.
XCOMM
XCOMM  EXTRA_LOAD_FLAGS= -lnsl

#ifdef HPArchitecture
CCOPTIONS= -Aa -Dhpux
#endif

XCOMM ImageMagick has an include file named X.h.  Do not set LOCALINC to
XCOMM the top level X11 include directory or X11/X.h will be overwritten.

LOCALDIR= $(BINDIR)
LOCALINC= $(INCROOT)/magick
LOCALLIB= $(USRLIBDIR)
LOCALMAN= $(MANDIR)

MAGICKDIR= $(TOP)/magick
MAGICK_INCLUDES= -I$(TOP)/magick
MAGICK_FLAGS= -L$(MAGICKDIR)
MAGICK_LIBRARIES= -lMagick

INCLUDES= $(MAGICK_INCLUDES) $(DIRENT_DEFINES) $(EXTENSIONS_DEFINES) \
  $(QUANTUM_DEFINES) $(DPS_INCLUDES) $(HDF_DEFINES) $(HDF_INCLUDES) \
  $(JBIG_DEFINES) $(JBIG_INCLUDES) $(JPEG_DEFINES) $(JPEG_INCLUDES) \
  $(MPEG_DEFINES) $(MPEG_INCLUDES) $(PNG_DEFINES) $(PNG_INCLUDES) \
  $(TIFF_DEFINES) $(TIFF_INCLUDES) $(DPS_DEFINES)
LOCAL_LDFLAGS= $(MAGICK_FLAGS) $(JBIG_FLAGS) $(HDF_FLAGS) $(MPEG_FLAGS) \
  $(PNG_FLAGS) $(TIFF_FLAGS) $(JPEG_FLAGS) $(DPS_FLAGS)
LOCAL_LIBRARIES= $(MAGICK_LIBRARIES) $(JBIG_LIBRARIES) $(HDF_LIBRARIES) \
  $(MPEG_LIBRARIES) $(PNG_LIBRARIES) $(TIFF_LIBRARIES) $(JPEG_LIBRARIES) \
  $(DPS_LIBRARIES)
REQUIRED_LIBRARIES= $(LOCAL_LDFLAGS) $(JBIG_LIBRARIES) $(HDF_LIBRARIES) \
  $(MPEG_LIBRARIES) $(PNG_LIBRARIES) $(TIFF_LIBRARIES) $(JPEG_LIBRARIES) \
  $(DPS_LIBRARIES)

#ifdef uxpArchitecture
#define ForceSubdirs(dirs)                                              @@\
dirs::                                                                  @@\
        @cd $@ ; $(MAKE) $(MFLAGS) PassCDebugFlags all

INSTALL=/usr/ucb/install -g sys
#endif
