# procmailrc to check for duplicates
# check for duplicate mail using the msgid
#
# $Id: dupcheck.rc,v 1.2 1995/07/14 20:49:58 aks Exp $
#
#    Copyright (C) 1995  Alan K. Stebbens <aks@hub.ucsb.edu>
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program; if not, write to the Free Software
#    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#

# Turn off comsat -- so it won't get called
# notifing the user about mail "delivered" via
# the formail check.

OLDCOMSAT=${COMSAT:-off}
COMSAT=off

# Remove duplicate messages
:0 Wh: .msgid.lock
| formail -D 8192 .msgid.cache

COMSAT=$OLDCOMSAT
OLDCOMSAT
