Source: bitchx
Section: net
Priority: optional
Maintainer: Patrick J. Edwards <pje120@mail.usask.ca>
Standards-Version: 2.1.1.0

Package: bitchx-bin
Architecture: any
Depends: ${shlibs:Depends}
Description: Advanced internet relay chat client.
 BitchX is the bleeding edge of IRC software. It contains dozens of features
 such as:
  * ban, bot and friend lists
  * TCL scripting
  * built-in commands normally found in scripts
  * ircii scripting enhancements
  * DCC reget and resend
  * CDCC built-in
  * command and nick completion
  * MIRC colour conversions
  * Client network commands
  * and much more.

Package: bitchx-lib
Architecture: all
Depends: bitchx-bin
Description: Library of scripts and utilities for BitchX
 All the most potent scripts and utilities deisgned for BitchX. Contains:
  * ircname
  * cubic zirconium
  * whirred
  * satanic
  * bitz
  * rigormortiz
  * night.

Package: bitchx-doc
Architecture: all
Recommends: bitchx-bin
Description: Documentation and help files for BitchX.
 Help files and documentation for BitchX.
