#!/usr/bin/make -f
# Sample debian.rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified
#
# Modified to be a prototype for debmake by Christoph Lameter <clameter@debian.org>

package=bitchx

build:
	$(checkdir)
	./configure
	make

	touch build

clean:
	$(checkdir)
	-rm -f build
	-make clean
	-rm `find . -name "*~"`
	-rm -rf debian/tmp debian/*/tmp debian/files* core

binary-indep:	checkroot build
	$(checkdir)
	-rm -rf debian/tmp debian/*/tmp
	debian/install debian/bitchx-doc.files
	dpkg-gencontrol -pbitchx-doc
	dpkg --build debian/tmp ..

binary-arch:	checkroot build
	$(checkdir)
	-rm -rf debian/tmp debian/*/tmp
	debian/install debian/bitchx-bin.files
	debstd $(package) Changes INSTALL* QUICK* README* TODO
	dpkg-gencontrol -pbitchx-bin
	dpkg --build debian/tmp ..
	-rm -rf debian/tmp debian/*/tmp
	debian/install debian/bitchx-lib.files
	dpkg-gencontrol -pbitchx-lib
	dpkg --build debian/tmp ..

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
