/*
 *
 *  This file is obsolete.  Use "configure" instead, if possible.  See
 *  README for details.
 *
 *
 *  These ACM-specific values are defined in this imake template:
 *
 *
 *  ACMBinaryDirectory  	Where to install the ACM binaries.
 *
 *  ACMInstallDirectory		location of ACM support files.
 *
 *  ACMObjectDirectory		location inside ACMInstallDirectory of
 *				ACM object descriptions.
 *
 *  ACMDocDirectory		location of ACM documentation.
 *
 *  CompileVlibTest		Set to YES to compile the graphics tests 
 *				program(s) located in ./V/test.
 *
 */

#define ACMBinaryDirectory	/usr/local/bin
#define ACMInstallDirectory	/usr/games/acm
#define ACMObjectDirectory      Concat(ACMInstallDirectory,/objects)
#define ACMDocDirectory		ACMInstallDirectory

#define CompileVlibTest		NO
