#! /usr/bin/make -f
#
# Debian rules for building "signify" package



package	:= signify



default:
	@echo "What to do?"
	@echo " -  binary  or  source"
	@echo " "


build:
	$(checkdir)
	touch stamp-build



clean:
	$(checkdir)
	-rm -f stamp-build
	-rm -f debian/files
	-rm -rf debian/tmp
	find . \( -name "#*" -o -name "*~" \) -print | xargs rm -f
	make clean



binary:	build
	-rm -rf debian/tmp
	mkdir -p debian/tmp debian/tmp/DEBIAN debian/tmp/usr/doc/$(package)/Examples
#	cp debian/conffiles debian/tmp/DEBIAN/conffiles
	make install PREFIX=debian/tmp/usr
	cp debian/README debian/tmp/usr/doc/$(package)/copyright
	cat COPYING >>debian/tmp/usr/doc/$(package)/copyright
	cp examples/* debian/tmp/usr/doc/$(package)/Examples
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg-gencontrol -is -ip
	dpkg --build debian/tmp
	dpkg-name -o -s .. debian/tmp.deb



define checkdir
	test -e $(package).pl
endef



dist:	source binary
	@echo " "
	ls -l ../$(package)*_$(version)-$(debian)*
	@echo " "

source:	clean
	chmod +x debian/rules
	cd .. && \
	tar cfh $(package)_$(version)-$(debian).tar $(package)-$(version) && \
	gzip -9vf $(package)_$(version)-$(debian).tar
 
checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary source diff clean clean checkroot distfiles
