#include </emx/include/os2.h>
#include "writepm.h"

ICON    ID_WINDOW writepm.ico

POINTER ID_POINTER writepm.ptr

MENU    ID_WINDOW PRELOAD
BEGIN
END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  VK_HOME, ID_BEGIN, VIRTUALKEY
  VK_END,  ID_END, VIRTUALKEY
  VK_PAGEUP, ID_PAGEUP, VIRTUALKEY
  VK_PAGEDOWN, ID_PAGEDOWN, VIRTUALKEY 
  VK_LEFT, ID_LEFT, VIRTUALKEY
  VK_RIGHT, ID_RIGHT, VIRTUALKEY
  VK_DOWN, ID_DOWN, VIRTUALKEY
  VK_UP, ID_UP, VIRTUALKEY
  VK_DELETE, ID_DELETE, VIRTUALKEY
  VK_BACKSPACE, ID_DELETE, VIRTUALKEY
  VK_ESC, ID_ESCAPE, VIRTUALKEY
  "c", ID_CTRLC, CONTROL
END





































