Source: cfgtool
Maintainer: Lars Wirzenius <liw@iki.fi>
Section: base
Priority: optional
Standards-Version: 2.0.0.0

Package: cfgtool
Architecture: any
Depends: ${shlibs:Depends}
Description: Manipulate system configuration variables
 A system configuration variable might be whether the hardware clock
 is set to local time or UTC. Some Debian package installation scripts
 and system administration scripts use cfgtool to get their configuration
 information. This way the script does not have to be edited to configure
 it. The administrator (root) can use cfgtool to change the variables.
