#!/usr/bin/make -f

package=cfgtool

build:
	$(MAKE) CFLAGS='-Wall -O2' LDFLAGS=-s

binary: binary-arch binary-indep

binary-arch: checkroot build
	rm -rf debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN
	install -d debian/tmp/usr/doc/$(package)
	install -d debian/tmp/sbin
	install -d debian/tmp/usr/man 
	install -d debian/tmp/usr/man/man8
	install cfgtool debian/tmp/sbin
	install -m 0644 cfgtool.8 debian/tmp/usr/man/man8
	cp debian/postinst debian/tmp/DEBIAN
	cp debian/copyright debian/tmp/usr/doc/$(package)/.
	cp debian/changelog debian/tmp/usr/doc/$(package)/changelog.Debian
	cp README debian/tmp/usr/doc/$(package)/README
	gzip -9 debian/tmp/usr/doc/$(package)/*
	dpkg-shlibdeps cfgtool
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R o-s,go=u,go-ws debian/tmp
	dpkg --build debian/tmp ..

binary-indep:

clean:
	$(MAKE) clean
	rm -rf debian/tmp

checkroot:
	test root = "`whoami`"
