Source: debian-cd
Section: devel
Priority: extra
Maintainer: Bruce Perens <bruce@pixar.com>
Standards-Version: 2.1.2.2

Package: debian-cd
Architecture: all
Depends: ${shlibs:Depends}
Description: Scripts used to create Debian CDs.
 This package installs scripts used to generate Debian CDs. These same
 scripts are used to generate the official Debian CD.
