Source: java-lex
Section: devel
Priority: optional
Maintainer: Vincent Renardias <vincent@waw.com>
Standards-Version: 2.1.1.0

Package: java-lex
Architecture: all
Depends: java-virtual-machine
Suggests: java-compiler
Description: A Lex style analyser for java.
 The Java-Lex utility is based upon the Lex lexical
 analyzer generator model.
 .
 Java-Lex takes a specification file similar to that
 accepted by Lex, then creates a Java source file for
 the corresponding lexical analyzer. 
