//////////////////////////////////////////////////////////////////////////////
/
/                          S E E S A T 5 . I N I	
/
/       This file controls the operation of SEESAT5, a program for the 
/       prediction of atificial satellite visiblity.  
/
/-----------------------------------------------------------------------------
set report	/ Show all output from SEESAT5. (after this statement!)
/
/-----------------------------------------------------------------------------
/       Set global parameters:    
/
length 20  set miles  reset showtle  set shownorad  set showage
/
/-----------------------------------------------------------------------------
/       Establish the location of the observer.  Various locations can be 
/       chosen by manipulating the comment characters. 
/  
height .030     lat 30.445     lon -84.2817    zone -500     /Tallahassee FL
/
/-----------------------------------------------------------------------------
/
/     The selection criteria for printing predictions can be altered as
/     required. 
/
/-----------------------------------------------------------------------------
/sunelevobs -12  minphase 60  vismag 2  minelev 45  maxrange 2500  step 1  null 
/sunelevobs -10  minphase 60  vismag 0  minelev 20  maxrange 1000 step 1  null
/sunelevobs 0 minelev 20 maxrange 500 step .5 null
/
/-----------------------------------------------------------------------------
cmdline         / By default pick up command line parameters
/
go NOWHERE
/
//////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
label SINGLE
label single
/                  * * *    S I N G L E    * * * 
/
/     This procedure is used to predict passages of individual satellites.
/     It is mainly used for the Space Shuttle since pre-launch TLE's are
/     available but the NORAD number isn't so RUNBS# can't be used easily.
/
/-----------------------------------------------------------------------------
/     Choose one TLE file to open.
/
open TLE/Visual.tle
/open TLE/master.tle
/
/-----------------------------------------------------------------------------
/     Choose one satellite to load.
/
/
load MIR
/load "GOES 7
/
/-----------------------------------------------------------------------------
/     Choose the time range to run.
/
go TIME_RUN
//////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////
label ALLSATS
label allsats
/                    * * *    A L L S A T S    * * * 
/
/     This procedure is used to predict passages of all satellites in a 
/     particular .TLE file.  
/
open TLE/Visual.tle
/
/-----------------------------------------------------------------------------
/
/     Selection criteria for printing predictions can be altered as needed
/
sunelevsat 0 sunelevobs -8  minphase 30  minelev 30  maxrange 300 step 1  null
/sunelevobs -12  minphase 60  vismag 2  minelev 40  maxrange 2500  step 1  null 
/sunelevobs -10  minelev 30 maxrange 250 step 1 null
/
/-----------------------------------------------------------------------------
/     Choose the time range to run.
/
go TIME_RUN_MULTI
/ / / / / / / / / 


//////////////////////////////////////////////////////////////////////////////
/-----------------------------------------------------------------------------
label TIME_RUN
/
/go run_date
go run_range
/
/ / / / / / / / /
label run_date
/      start 1995 JUL 1 0000 stop JUL 31 2359 run
/      start 1995 AUG 1 0000 stop AUG 1 2359 run
      start 1995 SEP 1 0000 stop SEP 30 2359 run
/      start 1995 OCT 1 0000 stop OCT 31 2359 run
/      start 1995 NOV 1 0000 stop NOV 30 2359 run
/      start 1995 DEC 1 0000 stop DEC 31 2359 run
goto EXIT
/ / / / / / / / /
label run_range
      today +0 0000 stop 2359 run
      today +1 0000 stop 2359 run
      today +2 0000 stop 2359 run
      today +3 0000 stop 2359 run
      today +4 0000 stop 2359 run
      today +5 0000 stop 2359 run
      today +6 0000 stop 2359 run
      today +7 0000 stop 2359 run
goto EXIT
/-----------------------------------------------------------------------------
label TIME_RUN_MULTI
/reset report
/
/go run_date_m
go run_date_mrange
/
/ / / / / / / / /
label run_date_m
      start 1995 SEP 27 1830 stop 1995 NOV 28 2359 runtime
goto EXIT
label run_date_mrange

      today +0 0500 stop 0800 runtime
      today +0 1800 stop 2100 runtime
      today +1 0500 stop 0800 runtime
      today +1 1800 stop 2100 runtime
      today +2 0500 stop 0800 runtime
      today +2 1800 stop 2100 runtime
      today +3 0500 stop 0800 runtime
      today +3 1800 stop 2100 runtime
      today +4 0500 stop 0800 runtime
      today +4 1800 stop 2100 runtime
      today +5 0500 stop 0800 runtime
      today +5 1800 stop 2100 runtime
      today +6 0500 stop 0800 runtime
      today +6 1800 stop 2100 runtime
      today +7 0500 stop 0800 runtime
      today +7 1800 stop 2100 runtime
goto EXIT
/-----------------------------------------------------------------------------
/
//////////////////////////////////////////////////////////////////////////////

/-----------------------------------------------------------------------------
label EXIT
/
exit
/-----------------------------------------------------------------------------

//////////////////////////////////////////////////////////////////////////////
label INSTRUCT
/
set report	/ Show all output from SEESAT5. (after this statement!)
/
//////////////////////////////////////////////////////////////////////////////
/
/		  How to read SEESAT5 predictions
/
/       A typical prediction looks something like this:
/
/   Time   Az El  R.A.    Dec   Range SES SEO Phs R Mag   Alt  Lat    Lon
/ 2307:00 319  4  8h 2m  38 10'  1189  14 -21  28 * 3.7   243 50.8N 122.1W
/
/       Usually only the Time, Az, and El are needed to see an object.
/
/ Time  This is the time which applies to the record, typically local time. 
/   
/ Az    The satellite's azimuth. N=0, E=90, S=180, W=270.
/ El    The satellite's elevation above the horizon 0=horizon, 90=overhead.
/
/ R.A.  The satellite's Right Ascension (celestial longitude in hh mm format).
/ Dec   The satellite's Declination (celestal latitude in degrees & minutes).
/
/ Range The satellite's distance from the observer in miles.
/
/ SES   The sun's elevation as seen from the satellite. Negative values 
/       indicate that the satellite is in darkness an cannot be seen.
/
/ SEO   The sun's elevation as seen from the observer. Negative values 
/       indicate that the observer is in darkness.  Except for the shuttle 
/       or Mir, this value needs to be at least -10 for it to be dark enough.
/
/ Phs   Phase angle of illumination of the satelite. 180=fully lit 90=half lit.
/       Generally satellites are hard to see at Phs < 60.
/
/ R     Reflectivity flag. Not used. 
/
/ Mag   Geometrical magnitude. Negative values are brighter. Generally this 
/       value needs to be brighter than 0 for the satellite to be visible. 
/       This value takes into account both Phs and Range but not SES. It does 
/       not take into account the reflectivity, size or orientation of the 
/       satellite.	
/
/ Alt   The satellite's altitude above the earth in miles.
/ Lat   The latitude of the point on the earth directly under the satellite. 
/ Lon   The longitude of the point on the earth directly under the satellite. 
/
/
/	To decide how to see a particular pass, first look for the '+' sign(s)
/ at the far left side of the table.  These indicate records that meet 
/ visiblity criteria established when the predictions were made.  Then look at
/ the Alt and find the largest value.  This is the highest Alt that the 
/ satellite will get to.  Then look at the Az and get an idea of it's 
/ direction when it is at it's maximum altitude.  You will also need to look 
/ at the SES column to see when the satellite is in sunlight.  In the evening,
/ satellites are generally illuminated until they pass into the earth's 
/ shadow.  In the morning they tend to emerge suddenly from darkness.       
/
///////////////////////////////////////////////////////////////////////////////
exit
/
label NOWHERE
/
