#
# sample configuration file for the nacctd(8)
#
# See /usr/doc/net-acct/ for more information
#
# BEWARE: this process may create LARGE files!
#
flush 300                       # flush every 5 minutes
				# this gives the interval in seconds
				# when the accumulated data is flushed
				# to the output file

fdelay 60			# this defines after how many seconds
				# of inactivity a certain record of
				# traffic information may be written out
				# this helps making the logfiles smaller
				# since only one output record will be
				# generated for related traffic

file /var/log/net-acct/net-acct.log   # defines output file
				# this is the regular output file of
				# the daemon

dumpfile /var/log/net-acct/net-acct.dump	# defines dump file
				# this is used to dump the not yet
				# written information so this is not
				# lost should the machine crash
				# on startup an eventuelly existing
				# file of this name will be moved
				# to *.o

notdev eth0                     #
notdev ppp0                     # NO LOGGING
notdev sl0                      #
notdev eth1			# Dont log entries for this device
				# Use this on routers that you dont
				# log forwarded packets twice.

#device eth0                     # device to put into promiscous mode
				# you can specify as many as you want
				# and you don't have to specify one
				# (e.g. if this runs on your router)

ignoremask 255.255.255.0        # Ignore traffic on same class C net
				# This means traffic that is on
				# your local LAN is not counted.
				# This is useful for NFS etc.
				# Not giving this option causes everything
				# to be counted.
				# This can degrade performance seriously!

ignorenet 127.0.0.0 255.0.0.0   # ignore loopback net
				# You can define as many ignorenets as
				# you want. Ignoring a net with
				# ignorenet is not as efficient as
				# ignoremask. Thus you should exclude
				# your local network with ignoremask,
				# not with ignorenet (although this is
				# is possible).

debug 2 #386                    # set debugging level

debugfile /var/log/net-acct/net-acct.debug	# where to put debugging info

# For dynamic slip/ppp

#dynamicip /var/run		# where files for dynamic ip are stored
#dynamicnet 202.36.94.0 255.255.255.0	# on which network are all the
					# dynamically assigned adresses

#exclude-name-lookup	202.36.94.1	255.255.255.255	
#exclude-name-lookup	202.36.94.253	255.255.255.255

# For disabling certain fields
# This is commented out by default
# disable 2			# disable output of protocol
# disable 3			# disable output of source address
# disable 4			# disable output of source port
# disable 5			# disable output of destination address
# disable 6			# disable output of destination port
# disable 7			# disable output of packets count
disable 8			# disable output of byte count (compat)
# disable 9			# disable output of device name
# disable 10			# disable output of user name

# For excluding certain hosts from ignoring
# This can be useful for a kludgy way to account for proxy traffic, you'd then
# add your proxy server here.
# I guess I should consider using some filter language...
# This is commented out by default
# This does not affect addresses excluded by ignoremask,
# as this would impose too much of a performance penalty
# dontignore 127.3.4.5 255.255.255.255	# Don't ignore host 127.3.4.5,
					# although it would be excluded by
					# above ignorenet statement

# line sl0 ttyS0		# On way to
				# assign traffic to a user is if both
				# of the following conditions meet:
				# a) nacctd runs on the ppp/slip server
				# b) the relation between network interface
				# (e.g. sl0, ppp1) and serial line (e.g.
				# ttyS1) is fixed.
				# You can give as many line statements
				# as you want
				# There is a better way now, so this is
				# commented out
