Source: base-files
Section: base
Priority: required
Maintainer: Bruce Perens <bruce@beagle.pixar.com>
Standards-Version: 2.1.1.0

Package: base-files
Provides: base
Requires: base-passwd, makedev
Architecture: all
Depends: 
Description: Debian Base System Miscellaneous Files
Essential: yes
Priority: required
Replaces: base, miscutils
