PACKAGE: elf-libg++
DESCRIPTION: The GNU C++ library version (ELF).
MAINTAINER: David Engel <david@ods.com>
VERSION: 2.7.0.2
PACKAGE_REVISION: 1
DEPENDS: elf-libc (>5.2.7-1)
PACKAGE: elf-libg++
DESCRIPTION: The GNU C++ library version (ELF).
MAINTAINER: David Engel <david@ods.com>
VERSION: 2.7.0.2
PACKAGE_REVISION: 1
DEPENDS: elf-libc (>5.2.7-1)
