#
# /etc/dpkg/cross-compile: configuration for dpkg-cross & Co.
#

#
# general section: paths of cross compiling environment
#
# you can set the following variables here:
#  crossprefix: prefix for cross compiling binaries; default: $(ARCH)-linux-
#  crossbase  : base prefix for the following; default: /usr/local
#  crossdir   : base directory for architecture; default:
#               $(CROSSBASE)/$(ARCH)-linux
#  crossbin   : dir for binaries; default: $(CROSSDIR)/bin
#  crosslib   : dir for libraries; default: $(CROSSDIR)/lib
#  crossinc   : dir for headers; default: $(CROSSDIR)/include
#  crossinfo  : dir dpkg-cross' package info files; default:
#               $(CROSSLIB)/dpkg-cross-info
#
# Usually, you need only set crossbase, or maybe also crossdir
#
crossbase = /usr/local

#
# per-package sections: additional environment variables to set
#

amd:
	SYSCC = $(ARCH)-linux-gcc

