#!/usr/bin/make -f

package=dwww

build:
	$(MAKE) CFLAGS=-O2 LDFLAGS=-s

binary: binary-arch binary-indep

binary-arch: checkroot build
	rm -rf debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN
	install debian/postinst debian/prerm debian/tmp/DEBIAN
	install -d debian/tmp/usr/doc/$(package)
	install -d debian/tmp/usr/sbin
	$(MAKE) prefix=debian/tmp install
	rm -rf debian/tmp/foo
#	install debian/dwwwconfig debian/tmp/usr/sbin/dwwwconfig
	cp debian/copyright debian/tmp/usr/doc/$(package)/.
	cp debian/changelog debian/tmp/usr/doc/$(package)/changelog.Debian
	cp README debian/tmp/usr/doc/$(package)/README
	gzip -9v debian/tmp/usr/doc/$(package)/*
	dpkg-shlibdeps dwww-cache dwww-quickfind realpath
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R o-s,go=u,go-ws debian/tmp
#	chmod a=rwx,o+t debian/tmp/var/spool/dwww
#	touch debian/tmp/var/spool/dwww/.cache_db
#	chmod a=rw debian/tmp/var/spool/dwww/.cache_db
#	chown www-data. debian/tmp/var/spool/dwww/.cache_db
	dpkg --build debian/tmp ..

binary-indep:

clean:
	$(MAKE) clean
	rm -rf debian/tmp

checkroot:
	test root = "`whoami`"
