slip::20:16:anonymous slip:/tmp:/sbin/sliplogin
cslip::21:16:anonymous cslip:/tmp:/sbin/sliplogin
Sjim:x:22:16:slip for James Tiberius Kirk:/tmp:/sbin/sliplogin
Sspock:x:23:16:slip for Spock:/tmp:/sbin/sliplogin
Sbones:x:24:16:slip for Lennard McCoy:/tmp:/sbin/sliplogin
