# this file is not used for now
# proc-color definitions:
# 
# 1. note that the first matching colour in the list below will be used,
#    although more than one may be matching.
# 2. The format of a markup method is:
#     let n be the numeric type of the markup (cf. table 1 below),
#     s the parameter and c the colour string. Then the format is as
#     follows:
#       n : s |c|
#     whitespace is irrelevant. Anything behind a hashmark will be
#     ignored. A colour string consists of a background colour, a
#     foreground colour and an attribute, seperated by semicolons.
#     Any of them can be left out. This is the same syntax as in
#     /etc/DIR_COLORS
# 3. If an error is encountered while parsing this file, colour support
#    is disabled.
#
#      Table 1 (types)
#  type    num.  type of s  description of the parameter s.  
#  g_mem    1                 not yet implemented
#  p_uid    2     int       any process belonging to the user with uid s
#  p_stat   3     char      any process with state s 
#  p_mem    4     int       any process using more than s% of physical memory
#  p_cpu    5     int       same as above, but cpu usage
#  p_size   6     int       any process whith size larger than s k
#  p_tty    7     string    any process having controlling terminal s
#
#      Table 2 (colours)
#
# colour        black  red   green  yellow  blue  magenta  cyan  white
# foreground     30     31    32      33     34      35     36    37
# background     40     41    42      43     44      45     46    47
#
#      Table 3 (attributes)
#  01 bold    04 underscore    05  blink   07 reverse   08 concealed
# 
# Examples:
# These colours are abominable, I know. I just wanted to make up some 
# examples. 
7 : ' p1' |07;41;32|
6 : 4000  |08;47;30|
3 : 'Z'  |04|
5 : 10%  |05;44;35|
4 : 10%  |01;40;35|
2 :  0   |01;31|
