Source: file-rc
Section: admin
Priority: extra
Maintainer: Tom Lees <tom@lpsg.demon.co.uk>
Standards-Version: 2.1.2.2

Package: file-rc
Architecture: all
Depends: sysvinit
Description: RC script to use a file /etc/runlevel.conf instead of symlinks
 This changes the standard /etc/init.d/rc and update-rc.d scripts to
 operate on a config-file /etc/runlevel.conf instead, which is easier to
 administrate than symlinks, and is also more flexible.
 .
 The package will automatically convert your existing symlinks into the
 file method on installation, and convert the file back into symlinks on
 removal.
