#!/usr/bin/wish -f
# Copyright 1993 Yggdrasil Computing, Incorporated
# You may copy this file according to the terms and conditions of version 2
# of the GNU General Public License as published by the Free Software
# Foundation.

frame .h
label .h.info -bitmap info -bg pink
message .h.message -width 400 -bg pink -text \
	{Scsi Control Page configuration.}

pack .h.info .h.message -padx 10 -side left
pack .h -pady 10

source /usr/lib/scsi/generic

frame .f1
frame .err_buttons
frame .col1
frame .col2
frame .col3
frame .col4

# Here we set the bits that depend upon the menu we are in
set button_list { rlec qerr dque eeca raenp uuaenp eaenp }
set text_list { qamod readyaen }

set text_descriptions {"Queue Algorithm Modifier " "Ready AEN Holdoff Period "}

set switch {-C}
set label_width 27
set text_width 10

generate_textboxes

checkbutton .rlec -text "RLEC"
checkbutton .qerr -text "QErr" 
checkbutton .dque -text "DQue" 
checkbutton .eeca -text "EECA" 

checkbutton .raenp -text "RAENP" 
checkbutton .uuaenp -text "UUAENP" 
checkbutton .eaenp -text "EAENP" 
label .dummy  -text " "

pack .rlec .raenp -in .col1 -anchor w
pack .qerr .uuaenp -in .col2 -anchor w
pack .dque .eaenp -in .col3 -anchor w
pack .eeca .dummy -in .col4 -anchor w

pack .col1 .col2 .col3 .col4 -in .err_buttons -side left -padx 3m

pack .err_buttons

pack .qamod .readyaen  -in .f1 -pady 10 -anchor w
pack .f1 -padx 3m -pady 3m

read_page $argv "-X"
read_modifiable $argv
