/* Return the initial python search path.  This is called once from
   initsys() to initialize sys.path.  The environment variable
   PYTHONPATH is fetched and the default path appended.  The default
   path may be passed to the preprocessor; if not, a system-dependent
   default is used. */

char *
getpythonpath()
{
  extern char *getenv(char *);
  extern void *malloc(int);

  char *path = getenv("PYTHONPATH");
  char *defpath = ".";
  static char *buf = (char *) 0;
  char *p;
  int n;

  if (path == (char *) 0)
    path = "";
  n = strlen(path) + strlen(defpath) + 2;
  if (buf != (char *) 0) {
    free(buf);
    buf = (char *) 0;
  }
  buf = malloc(n);
  if (buf == (char *) 0)
    {
      exit(1);
    }
  strcpy(buf, path);
  p = buf + strlen(buf);
  if (p != buf)
    *p++ = ':';
  strcpy(p, defpath);
  return buf;
}
