Source: #PACKAGE#
Section: unknown
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Standards-Version: 2.1.2.2

Package: #PACKAGE#
Architecture: any
Depends: ${shlibs:Depends}
Description: Missing
 Missing

Package: #PACKAGE#-doc
Architecture: all
Description: Documentation
 Missing
