Package: sam
Version: =
Depends: libc5
Recommended: elf-x11r6lib
Maintainer: Raul Miller <moth@firefly.com>
Description: The text editor.
 Sam is based on ed (but considerably upgraded) and jim (a smalltalk80
 style mouse oriented editor).  In addition to cut-and-paste, sam
 supports unlimited undo (even on edits which affect multiple files).
 .
 Sam can be used without X (using an ed-like interface) if it's
 started using 'sam -d'.  Files can be added to an existing sam session
 using the B command.
