Options Includes Indexes FollowSymLinks
AddType text/x-server-parsed-html .shtml
# AddType text/html .shtml
IndexIgnore .. RCS
# DirectoryIndex XMailTool.shtml
IndexOptions SuppressLastModified FancyIndexing ScanHTMLTitles 

AddDescription "Setting BINDIR" BINDIR.shtml
AddDescription "COMMENTS Variable" COMMENTS.shtml
AddDescription "XMailTool Copyright Notice" Copyright.shtml
AddDescription "DATE Variable" DATE.shtml
AddDescription "DEAD Variable" DEAD.shtml
AddDescription "Setting DEFURL" DEFURL.shtml
AddDescription "DISPLAY Variable" DISPLAY.shtml
AddDescription "XMailTool Disclaimer Notice" Disclaimer.shtml
AddDescription "EDITOR Variable" EDITOR.shtml
AddDescription "FROM Variable" FROM.shtml
AddDescription "Setting HAS_XFACE" HAS_XFACE.shtml
AddDescription "Setting HELP_DIR" HELP_DIR.shtml
AddDescription "Setting HYPERTEXT" HYPERTEXT.shtml
AddDescription "Setting HYPERTEXTDIR" HYPERTEXTDIR.shtml
AddDescription "Setting INSTMAILFLAGS" INSTMAILFLAGS.shtml
AddDescription "Porting XMailTool Using Imake" ImakeConfig.shtml
AddDescription "KEYWORDS Variable" KEYWORDS.shtml
AddDescription "MAIL Variable" MAIL.shtml
AddDescription "MAILRC Variable" MAILRC.shtml
AddDescription "Setting MANDIR" MANDIR.shtml
AddDescription "Setting MANSUFFIX" MANSUFFIX.shtml
AddDescription "MBOX Variable" MBOX.shtml
AddDescription "Setting MBOXDIR" MBOXDIR.shtml
AddDescription "Setting MSENDER" MSENDER.shtml
AddDescription "Porting XMailTool Using Make" MakeConfig.shtml
AddDescription "Setting NEED_CASECMP" NEED_CASECMP.shtml
AddDescription "Setting NEED_DIRENT" NEED_DIRENT.shtml
AddDescription "Setting NEED_MKSTEMP" NEED_MKSTEMP.shtml
AddDescription "Setting NEED_SETENV" NEED_SETENV.shtml
AddDescription "Setting NEED_STRSTR" NEED_STRERROR.shtml
AddDescription "Setting NEED_STRSTR" NEED_STRSTR.shtml
AddDescription "Setting NEED_TRUNCATE" NEED_TRUNCATE.shtml
AddDescription "PRINTER Variable" PRINTER.shtml
AddDescription "Setting PRINTER_CMD" PRINTER_CMD.shtml
AddDescription "SHELL Variable" SHELL.shtml
AddDescription "Setting SPECIAL_FLAGS" SPECIAL_FLAGS.shtml
AddDescription "Setting STD_DEFINES" STD_DEFINES.shtml
AddDescription "SUBJECT Variable" SUBJECT.shtml
AddDescription "Setting SYS_LIBRARIES" SYS_LIBRARIES.shtml
AddDescription "TMPDIR Variable" TMPDIR.shtml
AddDescription "VISUAL Variable" VISUAL.shtml
AddDescription "Setting XAPPLOADDIR" XAPPLOADDIR.shtml
AddDescription "X-Face Support in XMailTool" XFACE.shtml
AddDescription "XMailTool" XMailTool.shtml
AddDescription "The alias command" alias.shtml
AddDescription "alwaysignore Variable" alwaysignore.shtml
AddDescription "askbcc Variable" askbcc.shtml
AddDescription "askcc Variable" askcc.shtml
AddDescription "asksub Variable" asksub.shtml
AddDescription "{+|-}autoHelp Command Line Option and Resource" autoHelp.shtml
AddDescription "bodyOnly Variable" bodyOnly.shtml
AddDescription "Troubleshooting the XMailTool Build" build_faq.shtml
AddDescription "XMailTool Building Instructions" building.shtml
AddDescription "The cd command" cd.shtml
AddDescription "{+|-}cmdBox Command Line Option and Resource" cmdBox.shtml
AddDescription "cmd_box Variable" cmd_box.shtml
AddDescription "XMailTool Command Line Options" commandline.shtml
AddDescription "confirm_EDITOR Variable" confirm_EDITOR.shtml
AddDescription "debug Variable" debug.shtml
AddDescription "detectiv Variable" detectiv.shtml
AddDescription "do_signature Variable" do_signature.shtml
AddDescription "do_xmtaccelerators Variable" do_xmtaccelerators.shtml
AddDescription "do_xmtaliases Variable" do_xmtaliases.shtml
AddDescription "do_xmtrecord Variable" do_xmtrecord.shtml
AddDescription "edit_needs_xterm Variable" edit_needs_xterm.shtml
AddDescription "The ~/.envelope file" envelope.shtml
AddDescription "XMailTool Environment Variables" environment.shtml
AddDescription "-file Command Line Option and Resource" file.shtml
AddDescription "folder Variable" folder.shtml
AddDescription "-font Command Line Option" font.shtml
AddDescription "fromAddress Variable" fromAddress.shtml
AddDescription "hold Variable" hold.shtml
AddDescription "-iconGeometry and # Command Line Options and Resource" iconGeometry.shtml
AddDescription "The ignore and retain commands" ignore_retain.shtml
AddDescription "include_msg Variable" include_msg.shtml
AddDescription "indentprefix Variable" indentprefix.shtml
AddDescription "XMailTool Installation Instructions" installing.shtml
AddDescription "XMailTools Internal Editor" internal_editor.shtml
AddDescription "interval Variable" interval.shtml
AddDescription "-interval Command Line Option and Resource" interval_cmdline.shtml
AddDescription "keep Variable" keep.shtml
AddDescription "keepsave Variable" keepsave.shtml
AddDescription "User Configuration using mailrc" mailrc.shtml
AddDescription "mprefix Variable" mprefix.shtml
AddDescription "num_saved_fnames Variable" num_saved_fnames.shtml
AddDescription "Obtaining XMailTool" obtain.shtml
AddDescription "outbound_suffix Variable" outbound_suffix.shtml
AddDescription "Platform List" platforms.shtml
AddDescription "XMailTool Porting Guide" porting.shtml
AddDescription "print_cmd Variable" print_cmd.shtml
AddDescription "Troubleshooting XMailTool" problems.shtml
AddDescription "record Variable" record.shtml
AddDescription "replyto Variable" replyto.shtml
AddDescription "XMailTool Resources" resources.shtml
AddDescription "saveCurrent Variable" saveCurrent.shtml
AddDescription "saved_fnames Variable" saved_fnames.shtml
AddDescription "sendmail Variable" sendmail.shtml
AddDescription "The set command" set.shtml
AddDescription "showdeleted Variable" showdeleted.shtml
AddDescription "showlast Variable" showlast.shtml
AddDescription "shownew Variable" shownew.shtml
AddDescription "showold Variable" showold.shtml
AddDescription "showto Variable" showto.shtml
AddDescription "sign/Sign Variable" sign.shtml
AddDescription "The ~/.signature file" signature.shtml
AddDescription "skipDeleted Variable" skipDeleted.shtml
AddDescription "sortFields Variable" sortFields.shtml
AddDescription "{+|-}stateBox Command Line Option and Resource" stateBox.shtml
AddDescription "state_box Variable" state_box.shtml
AddDescription "XMailTool User Configuration" user_config.shtml
AddDescription "Troubleshooting Runtime Problems with XMailTool" user_faq.shtml
AddDescription "" waslast.shtml

# $Id: .htaccess,v 1.4 1994/11/04 04:15:23 bobo Exp bobo $

