#include <stdio.h>

int ETix_Init()
{
    if( Tix_EtInit(Et_Interp)!=ET_OK ){
	return ET_ERROR;
    }

#include "bitmaps.c"

	
    ET_INCLUDE( TIX_DIR/pref/12Point.fsc );
    ET_INCLUDE( TIX_DIR/pref/14Point.fsc );
    ET_INCLUDE( TIX_DIR/pref/Blue.csc );
    ET_INCLUDE( TIX_DIR/pref/Gray.csc );
    ET_INCLUDE( TIX_DIR/pref/SGIGray.csc );
    ET_INCLUDE( TIX_DIR/pref/TK.csc );
    ET_INCLUDE( TIX_DIR/pref/TK.fsc );
    ET_INCLUDE( TIX_DIR/pref/TixGray.csc );

.so scripts.c

    return ET_OK;
}

