Source: dialdcost
Section: misc
Priority: optional
Maintainer: Orn E. Hansen <oe.hansen@halmstad.mail.telia.com>
Standards-Version: 2.1.2.2

Package: dialdcost
Architecture: any
Depends: diald
Description: Cost estimation and X Control panel for DIALD
 This program will parse the log file produced by diald and calculate
 the cost of the connection time logged in that file.
 .
 The program can be made to use different cost for rush hour traffic
 thus giving pretty accurate cost for the logged time.
 .
 With this is also a control panel, or monitor, for X Windows.  Using
 the Athena widgets to control the link made by diald.
