#!/bin/sh

#  Copyright (c) 1991, 1992, 1993 Xerox Corporation.  All Rights Reserved.  
#  
#  Unlimited use, reproduction, and distribution of this software is
#  permitted.  Any copy of this software must include both the above
#  copyright notice of Xerox Corporation and this paragraph.  Any
#  distribution of this software must comply with all applicable United
#  States export control laws.  This software is made available AS IS,
#  and XEROX CORPORATION DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED,
#  INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY
#  AND FITNESS FOR A PARTICULAR PURPOSE, AND NOTWITHSTANDING ANY OTHER
#  PROVISION CONTAINED HEREIN, ANY LIABILITY FOR DAMAGES RESULTING FROM
#  THE SOFTWARE OR ITS USE IS EXPRESSLY DISCLAIMED, WHETHER ARISING IN
#  CONTRACT, TORT (INCLUDING NEGLIGENCE) OR STRICT LIABILITY, EVEN IF
#  XEROX CORPORATION IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
#  
#  $Id: ezps.dist,v 1.4 1993/09/23 01:18:54 janssen Exp $

if [ "x$1" = "x" ]; then
	input="-s -o stdin"
elif [ ! -f $1 ]; then
	echo "Can't open $1."
	exit 1
else
	input="$1"
fi
PROFILES=ANDREWDIR/lib/global.prf
export PROFILES
PATH=ANDREWDIR/bin:$PATH
export PATH
CLASSPATH=ANDREWDIR/dlib/atk:ANDREWDIR/local/dlib/atk
export CLASSPATH
ezprint -FE -t $input | processxref | (PATH=GROFFHOME:$PATH ; export PATH ; groff -pte -b )
