#field  value          			 action  result  command
#-----  -----          			 ------  ------  -------
# The next line makes a copy of everything into the Mail/log file
#default -				file	R	Mail/log
#
# The '+' syntax depends on a patch to the MH slocal program that
# is distributed with exmh.  You'll have to check with the local
# gurus about this. You can try a controlled test by putting a mail message
# into a file and running
# slocal -user yourlogin < message
# and examining the exit status of slocal.  slocal is hiding in the
# library directory of the MH package
# The alternative to using '+' is illustrated a bit further down.
#
subject "BOUNCE "			+	?	automail/request
subject "APPROVE "			+	?	automail/request
to	-approval			+	?	automail/accepts
cc	-approval			+	?	automail/accepts
to	exmh-mail-errors		+	?	automail/rejects
cc	exmh-mail-errors		+	?	automail/rejects

from	moo-cows-request		+	?	automail/log
from	exmh-users-request		+	?	automail/log
from	exmh-workers-request		+	?	automail/log
from	exmh-announce-request		+	?	automail/log

from	postmaster			+	?	badaddr
from	mailer-daemon			+	?	badaddr
from	"sco MMDF Mail System" 		+	? 	badaddr

# The alternative to using '+' is illustrated here.
# You pipe (|)  the message into the rcvstore program.
# Put a symlink to the MH rcvstore program, which is also hiding
# in the MH library directory, into your personal bin directory.
# Other folks make a link from ~/.mhto instead, so the line is even shorter.

subject		"error exmh"	| ?	"bin/rcvstore +exmh/bugs"
subject		"exmh bug"	| ?	"bin/rcvstore +exmh/bugs"
to		exmhbugs	| ?	"bin/rcvstore +exmh/bugs"
cc		exmhbugs	| ?	"bin/rcvstore +exmh/bugs"

to		allusa		| ?	"bin/rcvstore +sun"
cc		allusa		| ?	"bin/rcvstore +sun"
to		allhome		| ?	"bin/rcvstore +sun"
cc		allhome		| ?	"bin/rcvstore +sun"
to		allsun		| ?	"bin/rcvstore +sun"
cc		allsun		| ?	"bin/rcvstore +sun"
to		sunlabs@	| ?	"bin/rcvstore +sunlabs"
cc		sunlabs@	| ?	"bin/rcvstore +sunlabs"

to		b29@		+ ?	sunlabs
cc		b29@		+ ?	sunlabs

subject	"Re: Register exmh user" + ?	exmh/responses
subject	"register exmh"		+ ?	exmh/register

to	exmh-users 	+	?	exmh/users
to	exmh-announce	 +	?	exmh/announce
to	exmh-workers	 +	?	exmh/workers
cc	exmh-users 	+	?	exmh/users
cc	exmh-announce	 +	?	exmh/announce
cc	exmh-workers	 +	?	exmh/workers

subject		"exmh"	+	?	exmh/inbox

subject	"Code Manager notification" + ? tcl/code
to	tcl@		+	?	tcl/inbox
cc	tcl@		+	?	tcl/inbox

subject book		+	?	book
from	prenhall.com	+	?	book

from	"footbag-digest" +	?	footlist
from	footbag		+	?	footbag
from	jcurtis		+	?	footbag
from	73532.3217	+ ?		footbag
from	dfogle		+	?	footbag

from	73353.2131	+	?	family
from	73513.2332	+	?	family
from	cwwelch@pen.k12.va.us + ?	family

subject		"footbag"	+ ?	footbag
from		"jmcclung"	+ ?	footbag
from		"brat@"		+ ?	footbag

# This last line is important.  Otherwise you get a system default
# which may or may not be useful.
default		-		+ ?	inbox

# Other interesting possibilities include a pipe into rcvdist
# that resends the mail to someone else.
# default	-		| ?	"symlink-to-rcvdist mailaddress"
