Source: mgetty
Section: comm
Priority: extra
Maintainer: Christoph Lameter <clameter@waterf.org>
Standards-Version: 2.1.1.0

Suggests: ppp
Package: mgetty
Architecture: any
Depends: ${shlibs:Depends}
Description: Smart Modem getty replacement
 Mgetty is a versatile program to handle all aspects of a modem
 under Unix.
 .
 This package includes basic modem data capabilities. Install
 mgetty-fax to get the additional functionality for fax. Install
 mgetty-voice to get the functionality to operate voice modems.
 .
 Mgetty is also configurable to select programs other than login for
 special connections (eg: uucico, fido or other programs) depending
 on the login userid. It also supports caller-id if the modem and phone
 line supply it, and can deny connections based on originating
 telephone number.

Package: mgetty-fax
Architecture: any
Depends: ${shlibs:Depends},cron,mgetty
Description: Faxing tools for mgetty.
 The program 'mgetty' allows you to use a class 2
 fax modem for receiving faxes and handling external logins without
 interfering with outgoing calls.
 'sendfax' is a standalone program which sends fax files.

Package: mgetty-voice
Architecture: any
Depends: mgetty
Description: Voice related parts of mgetty
 'vgetty' is an extended version of mgetty that can answer the telephone
 like an answering machine and record a voice-mail message (if it finds
 one), or perform mgetty's fax or data call handling otherwise.

Package: mgetty-docs
Architecture: any
Description: Documentation Package for mgetty
 Sample files and lots of documentation for mgetty. Additional sourcecode
 for programs included that allow to set up a user interface for mgetty.
