#!/usr/bin/make -f
# Sample debian.rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified
#
# Modified to be a prototype for debmake by Christoph Lameter <clameter@debian.org>

package=xfntil2

build:
	$(checkdir)
	./build-fonts
	touch build

clean:
	$(checkdir)
	-rm -f build
	-rm -f `find . -name "*~"`
	-rm -rf debian/tmp debian/files* core
	-rm -rf 100dpi 75dpi misc

binary-indep: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/usr/X11R6/lib/X11/fonts/100dpi debian/tmp/usr/X11R6/lib/X11/fonts/75dpi debian/tmp/usr/X11R6/lib/X11/fonts/misc
	install -m 644 100dpi/*.pcf.Z debian/tmp/usr/X11R6/lib/X11/fonts/100dpi
	install -m 644 75dpi/*.pcf.Z debian/tmp/usr/X11R6/lib/X11/fonts/75dpi
	install -m 644 misc/*.pcf.Z debian/tmp/usr/X11R6/lib/X11/fonts/misc

binary-arch: checkroot build
	$(checkdir)
# Must have debmake installed for this to work. Otherwise please copy
# /usr/bin/debstd into the debian directory and change debstd to debian/debstd
	debstd `find -name CHANGES* -o -name INSTALL* -o -name README* -o -name TODO*`
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary: binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
