%
%  The printer command
%

set printer "| /usr/local/lib/slsc/vprint -deskjet | lpr"

% Colors

set color normal white black
set color label yellow magenta
set color number brightblue black
set color string cyan black
set color formula brightred black
set color cell yellow blue
set color mode brightgreen black
set color region magenta cyan
set color menu yellow blue
set color expression brightred black

% set beep 1  % visible beep only.  -1 means no beep at all.

% Keybindings

setkey right		"^F"		% next cell
setkey left		"^B"		% prev cell
setkey up		"^P"		% prev row
setkey down		"^N"		% next row
setkey exit		"^X^C"
setkey find_file	"^X^F"
setkey paste		"^Y"		% insert pastebuffer to spreadsheet
setkey write_file	"^X^W"
setkey copy_region	"^[w"		% copy region to pastebuffer
setkey delete_region	"^W"		% delete region to pastebuffer
setkey redraw		"^L"		% redraw screen
setkey set_mark		"^@"		% begin region
setkey bol		"^A"		% beginning of line
