Package: dld
Version: 3.2.6
Package_Revision: 3
Maintainer: Guy R. Thomas <gthomas@native-ed.bc.ca>
Description: dld - a library package of C functions that performs
             "dynamic link editing"
Depends: libc5
Recommended: 
