% This is a minimal .slrnrc file for use with slrn when it is used to
% read from an slrnpull spool directory.  Here I assume that the
% SLRNPULL_ROOT directory is /var/spool/slrnpull.
% Note that PULL_SUPPORT must be enabled in slrnfeat.h.

set spool_inn_root		"/var/spool/slrnpull"
set spool_root			"/var/spool/slrnpull/news"
set spool_nov_root		"/var/spool/slrnpull/news"
set read_active			1
set use_slrnpull		1

% Don't forget to set these up properly.

hostname			"your.host.name"
username			"your.user.name"

