# splitdigest.config
# configuration file for splitdigest 2.3

# $Id: splitdigest.config,v 2.5 1995/07/08 10:09:24 chris Released $

# NOTES:
#	1. Each record in this file consists of 5 fields, each field
#	terminating with a newline. All the fields are compulsory.
#	2. The first field must begin the line. Subsequent fields in
#	a record may be preceded by ONE tab. This is optional, but
#	recommended for readability.
#	3. The first field describes the signature line which splitdigest
#	will use to identify the type of digest it is dealing with. It
#	must contain a unique string which can be used to form the output
#	filename. This string must differ from other issues of the digest.
#	4. The unique string can be matched using %s for a string to match,
#	or %d for a decimal number to match. If you need to match the %
#	character itself, use %%. There must be at least ONE of such
#	specifiers, ie at least one %d or %s. There can be at most SIX (6)
#	such specifiers. The string matched for %s can be at most 511
#	characters long. The %*s and %*d options of sscanf() is supported.
#	5. The second field describes the string that will, if matched,
#	identifies the end of the digest. When this string is matched,
#	splitdigest will copy the rest of the file to the output file
#	till it encounters the next mail header.
#	6. The third field specifies the filename that you want
#	splitdigest to generate for that file. This field may contain
#	the specifiers you used in the first field. Note that the specifiers
#	must be used in the order you specified in field one. You may not
#	omit any specifier (except tail end ones).
#	7. The fourth field contains the number of hyphens (or dashes), '-',
#	that separate the header of the digest from the body.
#	8. The fifth field contains the number of hyphens (or dashes), '-',
#	that separate each message in the digest.
#	9. BLANK lines are ignored.
#	10. Comment lines must begin with '#' in the first column.
#

# ---------------- Digests from vger.rutgers.edu -----------------------
Subject: linux-kernel-digest V%d #%d
	End of linux-kernel-digest V%d #%d
	kernel-%d.%d
	70
	30
# ---------------- Digests from news-digest.mit.edu --------------------
Linux-Admin Digest #%d, Volume #%d
	End of Linux-Admin Digest
	admin.%d.%d
	76
	30
Linux-Announce Digest #%d, Volume #%d
	End of Linux-Announce Digest
	announce.%d.%d
	76
	30
Linux-Help Digest #%d, Volume #%d
	End of Linux-Help Digest
	help.%d.%d
	76
	30
Linux-Misc Digest #%d, Volume #%d
	End of Linux-Misc Digest
	misc.%d.%d
	76
	30
Linux-Development Digest #%d, Volume #%d
	End of Linux-Development Digest
	devel.%d.%d
	76
	30

# ---------------- Digests from linux-activists -----------------------
Subject: Linux-Activists - ANNOUNCE Channel digest. %s
	End of ANNOUNCE Digest
	announce.%s
	70
	30
Subject: Linux-Activists - KERNEL Channel digest. %s
	End of KERNEL Digest
	kernel.%s
	70
	30
Subject: Linux-Activists - GCC Channel digest. %s
	End of GCC Digest
	gcc.%s
	70
	30

# ---------------- MSDOS Announcement digests -------------------------
MSDOS-Ann Digest %*s %*s %*s %*s Volume %d : Issue %d
	End of MSDOS-Ann Digest V%d #%d
	msdos.%d.%d
	70
	30
Garbo-Ann Digest %*s %*s %*s %*s Volume %d : Issue %d
	End of Garbo-Ann Digest V%d #%d
	garbo.%d.%d
	70
	30
