This files contains rules to the game of Go in Smart-Go format.  It should be 
viewed with the mgt program.

(
;
GaMe[1]
VieW[]
SiZe[19]
Comment[        THE GAME OF GO
      A Brief Introduction

       by Adrian Mariano



   press . to move forward
   press , to move backward ]
;
Comment[Go is a two player strategy board game.  Players take turns putting black and white pieces \(called stones\) on the board.  The board is normally a 19x19 grid.  The stones are placed on the intersections.  Once played, a stone cannot be moved, though it may be captured by the other player.  The object of the game is to surround territory.]
;
Comment[There are three major scoring systems for Go:  Japanese, Chinese and Ing.  This tutorial describes the Japanese system, which is the most common in Western countries.  Under Japanese rules, a completed game is scored as follows:  each intersection surrounded and each prisoner captured count as a point. The player with the most points wins.]
;
Comment[When a player has nothing left to do, he passes.  After two consecutive passes, the game is over.]
;
Comment[An empty intersection adjacent to a stone \(orthogonally\) is called a liberty. 

The white stone in the center of the board has 4 liberties, the marked spots.  The white stone at the bottom has three liberties, and the white stone in corner has two liberties.]
AddWhite[jj][js][ss]
Mark[ij][ji][kj][jk][is][jr][ks][rs][sr]
AddEmpty[aa]
;
AddBlack[dc][dd][ed][fd][fe][ge]
Comment[Groups of stones that are connected orthogonally can be captured all at once by removing all of their liberties.  The black stones are orthogonally connected and have 11 liberties.  The white stones are not orthogonally connected.]
AddWhite[in][io][jn][jo][kl][km][ll][lm]
Mark[ff][gf][he][gd][ee][de][cd][fc][ec][cc][db]
AddEmpty[aa][ep][fp][gp][jj][jp][jq][js][kj][kk][kp][lk][lp][mp][na][np][ob][pb][pc][qd][qk][qm][rb][re][ri][rj][rk][rm][rn][ro][rp][sd][se][si][sp][ss]
;
AddBlack[ij][ji][jj]
AddEmpty[aa][dc][dd][ed][ep][fd][fe][fp][ge][gp][hj][in][io][jn][jo][jp][jq][kl][km][kp][ll][lm][lp][mp][na][np][ob][pb][pc][qd][qk][ql][qm][rb][re][ri][rj][rk][rm][rn][ro][rp][sd][se][si][sp]
Comment[A group is captured if its last liberty is taken away.


Here is a black group with seven liberties.]
;
AddWhite[hj]
Comment[A single white stone next to the group reduces it to six liberties.]
;
AddWhite[ik][jh][jk][ki][kj]
Comment[Six white stones reduces the group to one liberty \(remember that play alternates black and white.  These stones could not be placed like this during a game.\)]
;
White[ii]
Comment[The final white move captures the black group.]
;
AddWhite[qh][qi][qj][rg][rk][sg][sk]
AddBlack[rh][ri][rj][sh][sj]
AddEmpty[aa][hj][ii][ik][jh][jk][ki][kj]
Comment[The black group has only one liberty.  White can capture the black group by playing inside black at T11.]
;
White[si]
;
AddBlack[rh][ri][rj][sh][sj]
Comment[It is illegal to comit suicide.  White cannot play at T11 now, because the move does not capture the black group, and the white stone at T11 would have no liberties.]
AddWhite[qh][qj][rg][rk][sg][sk]
AddEmpty[aa][qi][si]
;
Comment[Another rule of Go is the Ko rule.  It is illegal to make a move which recreates preceeding board positions \(to prevent loops\).


Suppose black captures the white stone at J12.]
AddBlack[hh][ig][ii]
AddWhite[ih][jg][ji][kh]
AddEmpty[aa][ab][ac][aq][ar][bb][bc][bq][br][bs][ca][cb][cc][cq][cr][da][db][dc][dq][dr][ds][eq][er][es][qg][qh][qi][qj][qk][ql][rf][rg][rh][ri][rj][rk][rl][sf][sg][sh][sj][sk][sl]
;
Black[jh]
Comment[If white were allowed to play at J12 now, the board would look exactly as it did before.]
;
AddEmpty[jh]
AddWhite[ih]
Comment[This white move is ILLEGAL.  White must wait a turn before making this move, giving black the option of filling in the hole at J12.]
;
AddEmpty[aa][hh][ig][ih][ii][jg][ji][kh][ph][qh][qj][rg][rh][ri][rj][rk][sg][sh][sj][sk]
Comment[The concept of life is an important, and tricky one.  You must know how to make a living group.  A living group is one that can't be captured.  


A liberty which is inside a group and completely surrounded is called an eye.  A group with two disconnected eyes cannot be captured.]
;
AddBlack[ic][id][ie][jc][je][jj][jk][jl][kc][kd][ke][kj][kl][lc][le][lj][lk][ll][mc][md][me]
AddWhite[hc][hd][he][ib][if][ij][ik][il][jb][jf][ji][jm][kb][kf][ki][km][lb][lf][li][lm][mb][mf][mj][mk][ml][nc][nd][ne]
AddEmpty[aa][hb][hf][ii][im][mi][mm][nb][nf]
Comment[The black group above cannot be captured, because it has two eyes, the points K16 and M16.  White cannot play in either eye, because his stone would have no liberties.

White CAN capture the lower group, however, because it has only a single eye, and a white stone played within it reduces black to zero liberties.]
;
White[kk]
;
AddWhite[aq][ar][bq][bs][cq][cr][cs]
AddBlack[ap][bp][cp][dp][dq][dr][ds]
AddEmpty[aa][hc][hd][he][ib][ic][id][ie][if][ij][ik][il][jb][jc][je][jf][ji][jm][kb][kc][kd][ke][kf][ki][kk][km][lb][lc][le][lf][li][lm][mb][mc][md][me][mf][mj][mk][ml][nc][nd][ne]
Comment[Here is another example of a living group.  Black cannot capture the white group, because it has two eyes at A1 and B2.  Black cannot play at either of these points, because the black stone would have no liberties.]
;
Comment[The black group here has only ONE eye.  If black does not make further moves in this area, white can capture black.  \(More on this shape later.\)]
AddBlack[ap][bp][cp][cq][cr][cs]
AddWhite[ao][bo][co][do][dp][dq][dr][ds]
AddEmpty[aa][aq][ar][bq][br][bs]
;
AddBlack[ao][bo][co][do][eo][fo][go][ho][hp][hq][hr][hs]
AddWhite[ap][bp][cp][cr][dp][dq][dr][ds][ep][fp][gp][gq][gr][gs]
Comment[The white group here is also alive.  If black plays inside, white can safely ignore his plays completely.  White will be able to capture the black stones no matter what black does.  If black does this, white can gain points by simply passing.  ]
AddEmpty[aa][cq][cs]
;
AddBlack[af][al][bf][bg][bk][bl][cg][ch][ci][cj][ck][ga][gb][gc][hc][ic][jc][kc][lc][ma][mb][mc]
AddWhite[ag][ai][ak][bh][bi][bj][ha][hb][ib][ja][jb][kb][la][lb]
AddEmpty[aa][ao][ap][bo][bp][co][cp][cr][do][dp][dq][dr][ds][eo][ep][fo][fp][go][gp][gq][gr][gs][ho][hp][hq][hr][hs]
Comment[Compare these two white groups.  The white group at the top is alive, because it has two eyes.  But beware!  The white group on the left side is dead!]
;
Comment[The Ko rules prevents white from recapturing the stone at A12.  White must play somewhere else on the board, allowing black to capture the stones.]
Black[ah]
;
Black[aj]
;
Comment[Here is another example of a DEAD group.  The white group at the bottom does NOT have two eyes.]
AddBlack[lp][lq][lr][ls][mp][np][op][oq][or][pp][qp][rp][sp][sq][sr]
AddWhite[mr][ms][nr][os][pq][pr][ps][qq][rq][rr][rs]
AddEmpty[aa][af][ah][aj][al][bf][bg][bk][bl][cg][ch][ci][cj][ck][ga][gb][gc][ha][hb][hc][ib][ic][ja][jb][jc][kb][kc][la][lb][lc][ma][mb][mc][mq][nq]
;
AddWhite[ar][br][cr][cs]
AddBlack[aq][bq][cq][dq][dr][ds]
AddEmpty[aa][ao][ap][bo][bp][co][cp][do][dp][eo][ep][fo][fp][go][gp][gq][gr][gs][ho][hp][hq][hr][hs][lp][lq][lr][ls][mp][mr][ms][np][nr][op][oq][or][os][pp][pq][pr][ps][qp][qq][rp][rq][rr][rs][sp][sq][sr]
Comment[In this example, the white group is dead.  There is nothing white can do to prevent black from capturing it.]
;
Black[bs]
;
White[as]
;
Black[bs]
Comment[Notice that black had to sacrifice a stone to capture the white group, but black succeeds in the end.  Because both players can tell that black will be able to capture white, black does not actually need to play any stones.  This group is dead and will be removed at the end of the game.]
;
AddWhite[ar][br][cr][dr][ds]
AddBlack[eq][er][es]
AddEmpty[aa][bs]
Comment[This case is more complicated.  If white plays first, then the group has two eyes and lives.]
;
White[bs]
;
Comment[On the other hand, if black plays first, the group is killed. ]
AddEmpty[aa][bs]
;
Black[bs]
;
White[cs]
;
Black[as]
;
Comment[In this case, the white group is alive, even if black plays first.]
AddWhite[ar][br][cr][dr][er][es]
AddBlack[aq][fq][fr][fs]
AddEmpty[aa][as][bs][en]
;
Black[cs]
;
White[bs]
;
Comment[In this case, however, the white stones can be killed if black moves first.  \(If white plays first at B1, then they are alive.\)]
AddBlack[ap][bp][cp][dp][dq][eq][er][es]
AddWhite[aq][bq][cq][cr][ds]
AddEmpty[aa][ar][bn][br][bs][cs]
;
Black[bs]
;
White[br]
;
Black[as]
;
White[cs]
;
Black[ar]
;
AddWhite[ao][bo][co][do][dp][dq][dr][ds]
AddBlack[ap][bp][cp][cq][cr][cs]
AddEmpty[aa][aq][ar][as][bq][bs][eq][er][es][fq][fr][fs]
Comment[As promised, here is the situation we saw earlier.  This situation is similar to the preceeding one.  If black plays first, then black can live.]
;
Black[br]
;
White[ar]
;
Black[aq]
;
White[bs]
;
Black[as]
;
AddEmpty[aa][aq][ar][as][br][es]
Comment[If, however, white plays first, white can kill the black group.]
;
White[br]
;
Black[bs]
;
White[ar]
;
Black[aq]
;
White[as]
;
Black[bq]
;
White[ar]
;
Black[br]
;
White[as]
;
AddWhite[ab][ai][am][ar][bb][bi][bm][br][ca][cb][ci][cj][ck][cl][cm][cr][dr][ds][rh][ri][rj][rk][sg][si][sk]
AddBlack[ac][ah][ak][an][aq][bc][bh][bk][bn][bq][bs][cc][ch][cn][cq][da][db][dc][dh][di][dj][dk][dl][dm][dn][dq][eq][er][es][qg][qh][qi][qj][qk][ql][rf][rg][rl][sf][sl]
AddEmpty[aa][ao][as][bo][co][do][dp][sh]
Comment[Each of these groups is dead.  In all cases where a group can be considered dead, it can be removed from the board at the end of the game without further play.  It is NOT advantageous to capture groups which are dead, unless they threaten your position, because doing so reduces your own territory, and may allow your opponent to make important moves.]
;
AddBlack[cj][ck][cl][cm][cn][co][db][dc][dd][de][df][dg][dj][do][ea][eb][eg][ej][eo][fa][fg][fj][fo][ga][gg][gj][gn][go][ha][hg][hj][hn][ia][ib][if][ig][ij][ik][il][im][in][jb][jc][jd][je][jf][jg][km][kn][ko][kp][kq][ll][lm][lq][lr][ml][mr][nl][nr][ol][or][pd][pe][pf][pg][ph][pl][pm][pq][pr][qc][qd][qh][qi][qm][qn][qo][qp][qq][rc][ri][sc][si]
AddWhite[dk][dl][dm][dn][ec][ed][ee][ef][ek][en][fb][fc][ff][fk][fn][gb][gf][gk][gm][hb][hc][he][hf][hk][hl][hm][ic][id][ie][ln][lo][lp][mm][mn][mp][mq][nm][nq][om][on][op][oq][pn][po][pp][qe][qf][qg][rd][re][rg][rh][sd][sh]
Comment[All of the white groups are dead if black moves first, but live if white moves first.  Can you find the move that kills each group?]
AddEmpty[aa][ab][ac][ah][ai][ak][al][am][an][aq][ar][bb][bc][bd][be][bh][bi][bk][bl][bm][bn][bq][br][bs][ca][cb][cc][ch][ci][cq][cr][da][dh][di][dq][dr][ds][eh][ei][el][eq][er][es][fh][fl][gh][gl][hh][ih][ii][jh][ji][jj][jk][kh][qj][qk][ql][rf][rj][rk][rl][sf][sg][sk][sl]
;
AddEmpty[aa][cj][ck][cl][cm][cn][co][db][dc][dd][de][df][dg][dj][dk][dl][dm][dn][do][ea][eb][ec][ed][ee][ef][eg][ej][ek][en][eo][fa][fb][fc][ff][fg][fj][fk][fn][fo][ga][gb][gf][gg][gj][gk][gm][gn][go][ha][hb][hc][he][hf][hg][hj][hk][hl][hm][hn][ia][ib][ic][id][ie][if][ig][ij][ik][il][im][in][jb][jc][jd][je][jf][jg][km][kn][ko][kp][kq][ll][lm][ln][lo][lp][lq][lr][ml][mm][mn][mp][mq][mr][nl][nm][nq][nr][ol][om][on][op][oq][or][pd][pe][pf][pg][ph][pl][pm][pn][po][pp][pq][pr][qc][qd][qe][qf][qg][qh][qi][qm][qn][qo][qp][qq][rc][rd][re][rg][rh][ri][sc][sd][sh][si]
Comment[If there is debate over who owns a territory, or whether a group is alive, simply continue play until the players agree.]
;
AddBlack[an][ap][bn][bo][bp][br][bs][cp][cs][dp][ds][ep][er][es][fp][gp][gq][gr][gs][hr][ir][is]
AddWhite[aq][ar][as][bq][cq][dq][eq][fq][fr][fs]
AddEmpty[ai][aj][ak][al][am][bi][bj][bk][bl][bm][cr][dr]
Comment[This situation is called seki.  Even though the white group and the black group contained inside do not have two eyes, they are considered alive.

The reason is that neither black nor white can make a move in the region.  ]
(
;
White[cr]
Comment[If white attempts to capture black by playing inside...]
;
Black[dr]
Comment[Then black captures the white stones.]
)
(
;
Comment[If black tries to capture white by moving inside...]
Black[cr]
;
Comment[Then white captures black, and now the white group is alive.  ]
White[dr]
;
Comment[Notice that the black group around the very outside is clearly alive, with two eyes.  If white were able to surround and capture the black group, then he could break the deadlock and the situation would no longer be seki.]
;
AddEmpty[aa][an][ap][aq][ar][as][bo][bp][bq][cp][cq][dp][dq][dr][ep][eq][fp][fq][fr][fs][gp][gq][gr][gs][hr][ir][is]
Comment[Examine this situation.  The white and black groups have started surrounding each other.  This is called a "capture race."  If white plays first, who will capture whom?]
AddWhite[bh][bi][bj][bn][cj][cm][cn][dk][dl]
AddBlack[bf][bk][bl][bm][cf][cg][ch][ci][ck][di][dj]
;
White[am]
;
Black[bg]
;
White[al]
;
Black[ah]
;
White[ak]
;
Black[ai]
;
White[cl]
;
Black[ag]
;
White[aj]
;
Comment[Connections of stones are very important.  If two groups each have one eye, they can live if they can be connected directly to each other.]
AddEmpty[aa][ag][ah][ai][aj][ak][al][am][bf][bg][bh][bi][bj][bn][cf][cg][ch][ci][cj][cl][cm][cn][di][dj][dk][dl]
AddBlack[aq][bq][cq][cr][dq][eq][fq][gq][gr][gs]
AddWhite[ar][br][bs][dr][ds][er][fr][fs]
(
;
Black[cs]
Comment[If black plays here, then the two white groups will die, since each has only one eye.]
)
(
;
White[cs]
Comment[If white plays C1, then his stones are connected into one group which has two eyes.]
;
AddEmpty[aa][aq][ar][bq][br][bs][cq][cr][cs][dq][dr][ds][eq][er][fq][fr][fs][gq][gr][gs]
Comment[Obviously, this sort of loose connection only works if it happens to be white's turn.  It is not reasonable to play all your stones solidly connected, because you will not be able to get much territory.  You must instead make different types of connections which can be fortified when they are attacked.]
;
Comment[In this situation, the black stones can be considered connected, even though they are not yet orthogonally connected directly.]
AddWhite[ah][al][bh][bl][ch][ci][ck][cl][di][dk][dl][ei][el][fi][fl][gi][gj][gl][gm][hi][hm][ii][im][ji][jm][ki][kj][kk][kl][km]
AddBlack[ai][ak][bi][bj][bk][cj][dj][ej][fk][gk][hj][hk][hl][ij][il][jj][jk][jl]
AddEmpty[aa][cs][ek][fj][lj][lk][ll][mj][mk][ml][nj][nk][nl][oj][ok][ol][pj][pk][pl][qi][qj][qk][ql][qm][ri][rj][rk][rl][rm][si][sj][sl][sm]
;
Comment[If white threatens to disconnect the black stones...]
White[fj]
;
Comment[...black always has a response which connects his stones.  ]
Black[ek]
;
AddBlack[lm][lp][mm][mp][nm][np]
Comment[Here is another strong connection that cannot be cut.]
AddWhite[io][jo][ko][ln][lo][nn][no][on][pn][qn]
AddEmpty[aa][ah][ai][ak][al][bh][bi][bj][bk][bl][ch][ci][cj][ck][cl][di][dj][dk][dl][ei][ej][ek][el][fi][fj][fk][fl][gi][gj][gk][gl][gm][hi][hj][hk][hl][hm][ii][ij][il][im][jc][jd][je][ji][jj][jk][jl][jm][kc][ke][ki][kj][kk][kl][km][lc][ld][le][md][nd][ne][pa][pb][pc][pd][pe][qa][qb][qc][qd][ra][rb][rc][rd][sb][sc]
;
Comment[If black tries to disconnect the white stones...]
Black[mo]
;
Comment[...as with the diagonal connection, white always has a response which directly connects his stones. \(This is called a bamboo connection\)]
White[mn]
;
Comment[There are several other weaker connections which can be cut.  ]
AddEmpty[aa][ao][aq][bn][bo][bp][bq][br][cn][cp][cr][dm][dn][do][dp][dq][dr][ep][eq][fo][fp][fq][gp][gq][hp][io][ip][jo][jp][ko][kp][kq][lm][ln][lo][lp][lq][mm][mn][mo][mp][mq][nm][nn][no][np][on][pn][qn]
;
Comment[These are all weaker connections.  Whether the stones can be separated depends on the location on the board and what other stones are in place.  
    The marked locations are the cutting points -- the moves white would make to disconnect black.]
Mark[fo][fb][fe][gh][fk]
AddEmpty[aa][cl][cp][dl][dp][ec][ej][el][ep][fc][fi][fj][fo][fp][gi][gj][gp][hd][hi][hm][id][ii][ij][im][jd][jj][jm][kd][kj][kp][lp][pg][ph][pi][ql][qm][qn]
AddBlack[cb][ce][ch][ck][co][db][de][dh][dk][do][eb][ee][eh][ek][eo][gb][gl][hb][he][hl][hp][ib][ie][ih][il][ip][je][jh][jp][kh]
;
Comment[In previous diagrams, several times a ko has arisen during an attempt to capture a group.  In these cases, I have ignored the possible reprecussions of the play that must be made elsewhere.  Now consider this one situation on the whole board.  White wishes to kill the black group at the left.]
AddBlack[bp][cp][dp][dq][dr][ph][pm][pn][po][pp][pq][qi][qq][qr][qs][ri][rj][rk][rs][si][sl]
AddWhite[bm][bo][co][do][eo][ep][eq][er][gr][oj][ok][ol][pl][ql][qn][rl][rn][ro][rp][rq][sq]
AddEmpty[aa][cb][ce][ch][ck][co][db][de][dh][dk][do][eb][ee][eh][ek][eo][gb][gl][hb][he][hl][hp][ib][ie][ih][il][ip][je][jh][jp][kh]
;
White[br]
;
Black[ar]
;
White[cr]
;
Black[ds]
;
White[ap]
;
Black[aq]
;
White[ao]
;
Black[bq]
;
White[cs]
;
Black[bs]
;
Comment[We have reached a Ko situation.  Black may not retake the white stone at A1. 

Black may, however, attack the white formation on the right side of the board.]
White[as]
;
Comment[This attack by black is called a "ko threat."  Black is forcing white to decide between killing the group in the left corner, and connecting on the right.  Note that if white does not connect on the right, then the white stones on the right will die.]
Black[qm]
(
;
Name[On the right]
Comment[White will now respond on the right, connecting the white groups together.]
White[rm]
;
Black[bs]
;
Comment[White cannot retake the ko at B1 now.  He would like to find an attack similar to the one black used on him, but since the board is almost empty, no such attack exists.  \(White can play at T7, threatening to capture the single black stone, but black would much rather save his 10 corner stones than a single side stone.\)]
White[sm]
;
Black[cq]
Comment[The black group lives.]
)
(
;
Comment[White plays in the corner, planning to kill the group on the left.]
Name[In the corner]
;
White[bs]
;
Black[cq]
;
Comment[The black stones are dead.]
White[bs]
;
Comment[But black gets to cut off the white stones.]
Black[rm]
;
Comment[Suppose black wants to capture the white stone.  ]
AddBlack[dm][em][fn]
AddWhite[en]
AddEmpty[aa][ao][ap][aq][ar][as][bm][bo][bp][bq][br][bs][cn][co][cp][cq][cs][dn][do][dp][dq][dr][ds][eo][ep][eq][er][es][gr][oj][ok][ol][ph][pl][pm][pn][po][pp][pq][qi][ql][qm][qn][qq][qr][qs][ri][rj][rk][rl][rm][rn][ro][rp][rq][rs][si][sl][sq]
(
;
Comment[If black plays here...]
Black[dn]
;
Comment[...white escapes downward.  

This is not the correct approach.]
White[eo]
)
(
;
Comment[Instead, black should play here.  This starts a pattern called the "ladder," a very common occurrence in go games.]
Black[eo]
;
Comment[The only direction white can go is leftwards.  However, observe the sequence that follows. ]
White[dn]
;
Black[cn]
;
White[do]
;
Black[dp]
;
White[co]
;
Black[bo]
;
White[cp]
;
Black[cq]
;
White[bp]
;
Black[ap]
;
White[bq]
;
Black[br]
;
White[aq]
;
Comment[Each of the moves is forced, and white is unable to save the stones.  


White must be able to recognize this, so he can avoid playing this sequence and losing such a large group of stones.]
Black[ar]
;
Comment[The outcome is very different if white has a stone in the path of the ladder.]
AddBlack[fn]
AddWhite[bo][en]
AddEmpty[aa][ap][ar][br][cn][co][cq][dn][dp][eo]
;
Black[eo]
;
White[dn]
;
Black[cn]
;
White[do]
;
Black[dp]
;
White[co]
;
Black[cm]
;
White[ep]
;
Black[fo]
;
Comment[Black fails to capture white in this case.]
White[dq]
;
Comment[In this case, white wishes to capture the black stone.  ]
AddWhite[jh][ji][jj][kj][lj]
AddBlack[ki]
AddEmpty[aa][bo][cm][cn][co][dm][dn][do][dp][dq][em][en][eo][ep][fn][fo][iq]
;
Comment[To do so, white plays here.]
White[lh]
;
Black[li]
;
White[mi]
;
Black[kh]
;
White[kg]
;
AddEmpty[aa][jh][ji][jj][kg][kj][lh][lj][mi]
Comment[It is important to remember that the object of the game is TERRITORY, not captured stones.  Capturing stones, or preventing stones from being captured is important only when it increases your territory.  A frequent beginner error is to place too much emphasis on capturing stones.]
;
AddBlack[ap][bp][cp][da][db][dc][dd][dp][dq][dr][ds][ed][fd][gd][ha][hb][hc][hd][ih][ii][ij][ik][il][jh][jl][kh][kl][lh][ll][mh][mi][mj][mk][ml]
Comment[It is easiest to make territory in the corner, and hardest in the center.  Each group surrounds nine points of territory.  The corner group is 7 stones, side group is 11 stones, and the center is 16 stones.  Because of this, you should start in the corner, and expand along the sides from the corners, and finally expand into the center from the sides.]
;
AddEmpty[aa][ap][bp][cp][da][db][dc][dd][dp][dq][dr][ds][ed][fd][gd][ha][hb][hc][hd][ih][ii][ij][ik][il][jh][jl][kh][kl][lh][ll][mh][mi][mj][mk][ml]
Comment[A common opening move is to play at the 4,4 point in one of the corners.  This move has potential to claim corner territory, side territory, and even center territory.]
Black[pp]
;
White[qq]
Comment[Note that white can play underneath black and take the corner despite the black stone at the 4,4 point, however.  This move by white is NOT an opening move, but is an attack that would occur later in the game.]
;
AddBlack[qq]
AddEmpty[aa][pp]
Comment[Opening at the 3,3 point insures ownership of the corner but has less potential for extension into the center.]
;
AddBlack[de][pq]
AddEmpty[aa][qq]
Comment[Other good openings are the 5,4 point and the 3,4 point.]
;
Comment[From either of these openings, black can make a corner enclosure so get corner territory.]
AddBlack[dc][qo]
;
Comment[And then extend along the side, staking out side territory.]
AddBlack[ic][kq]
;
AddEmpty[dc][de][ic][kq][pq][qo]
AddBlack[dd][dj][dp][jj][pd][pj][pp]
Comment[Go players use a handicap system to balance games between players of 
different skill.  The weaker player starts by placing from two to nine stones 
on the board in a special configuration on the handicap points.  
    

This is a seven stone handicap.]
;
AddEmpty[aa][dd][dj][dp][jj][pd][pj][pp]
Comment[Playing strength of amateurs is measured on a scale where one unit 
corresponds to a handicap stone.  A total beginner is 35 kyu, and will very 
quickly improve to 20 kyu.  A player will reach 10 kyu after playing about 
100 games.  Ranks worse than 10 kyu are unreliable because playing is too 
uneven and players progress too quickly to get a stable rating.]
;
Comment[Beyond the kyu ranks are the amateur dan ranks which go from 1 dan to 6 dan, the highest amateur rank.


A 5 kyu player would give a 9 kyu player a four stone handicap.  A 2 dan player would give a two stone handicap to a 1 kyu player.  Each handicap stone is worth about 10 points.]
;
Comment[Professional players have a different ranking system from 1 dan \(lowest\) to 9 dan \(highest\) which has a finer grating:  a 9 dan is about two stones better than a 1 dan. ]
;
Comment[Playing Black, who always moves first, is advantageous because you start with the initiative.  Generally, white is given 5.5 extra points, called a komi, to compensate for his disadvantage.  \(The 1/2 point prevents tie games.\)]
;
Comment[A new player should begin by playing several games on a 9x9 board, followed by several games on a 13x13 board before finally playing on the full sized 19x19 board.]
;
Comment[The strategy of go is very complex and intricate.  If you wish to become a good player, you should buy a book about the game.

Computer go programs are presently very weak -- they are ranked around 10 kyu]
)
)
)
)
)
