Source: mailpgp
Section: mail
Priority: optional
Maintainer: Patrick J Edwards <edwards@cambridgnet.sk.ca>
Standards-Version: 2.1.1.0

Package: mailpgp
Architecture: all
Depends: pgp-i | pgp-us
Recommends: pine | elm
Description: PGP mail encryption script.
 Using Pretty Good Privacy (PGP) with Pine or Elm is made easy with this
 utility. It is a simple script that when ran will startup an editor, and
 then later will PGP or clear sign the document.

