# This is the NNTP server leafnode fetches its news from.
# You need read and post access to it.
server = news.hiof.no

# Unread discussion threads will be deleted after this many days.
expire = 100

# Never fetch more than this many articles from one group in one run.
# Be careful with this; setting it much below 1000 is probably a bad
# idea.
maxcount = 2000
