# Sample BeroList config file...
#
# Allow new users to subscribe
newusers=yes
#
# Don't allow non-subscribers to post messages to the list
closed=yes
#
# Tell non-subscribers trying to post to contact postmaster@...
contact=postmaster@listserver.yourdomain.com
#
# Use list address as sender
sender=list
#
# Send MAILER-DAEMON messages coming through the list to someone@devnull.org
errors-to=someone@devnull.org
#
# Post a copy of every message to the local.test newsgroup on the
# news.local.net server
newsgroup=local.test
nntp-server=news.local.net
distribution=local
