#!/bin/sh
#   $Id: mkcrc.rc,v 1.1 1996/11/21 21:48:02 src Exp $
# 
#   calculate CRC value for hashing table
# 
#   lifted shamelessly from the DBZ library:
#	Copyright 1988 Jon Zeeff (zeeff@b-tech.ann-arbor.mi.us)
#	You can use this code in any manner, as long as you leave my name on it
#	and don't hold me responsible for any problems with it.
# 
#   see "hash.c" for further details
#
#   running time: hours
#  
#    0x48000000   31-bit polynomial
POLY=1207959552

xor () {
    # 0x80000000
    a=1073741824
    b=0
    while test $a != 0; do
	b1=`expr $1 / $a`
	b1=`expr $b1 % 2`
	b2=`expr $2 / $a`
	b2=`expr $b2 % 2`
	if test $b1 != $b2; then
	    b=`expr $b + $a`
	fi
	a=`expr $a / 2`
    done
    echo $b
}

i=0
while test $i != 128; do
    sum=0
    j=64
    while test $j != 0; do
	tmp=`expr $i / $j`
	tmp=`expr $tmp % 2`
	if test $tmp != 0; then
	    tmp=`expr $POLY / $j`
	    sum=`xor $sum $tmp`
	fi
	j=`expr $j / 2`
    done
    i=`expr $i + 1`
    if test $i != 128; then
	echo "$sum,"
    else
	echo "$sum"
    endif
done
