#################################################################
#
# cf.hpux - for iu.hioslo.no
#
# This file contains hpux specific patches
#
#################################################################

###
#
# BEGIN cf.hpux
#
###


links:

    hpux::

       #
       # To make hpux more like other OSs
       #

       /var/spool      -> /usr/spool
       /usr/spool/mail -> /usr/mail
       /etc/logingroup -> /etc/group
       /bin/wall       -> /etc/wall

#################################################################

files:

   hpux::

      /etc/passwd           m=0644 r=0 o=root g=sys act=fixplain
      /etc/group            m=0644 r=0 o=root g=sys act=fixplain
      /dev/kmem             m=0640 r=0 o=bin  g=sys act=warnall
      /usr/lib/sendmail.cf  m=0644 r=0 o=root g=sys,other act=fixall      

###
#
# END cf.hpux
#
###
