#################################################################
#
# cf.linux - for iu.hioslo.no
#
# This file contains linux specific patches
#
#################################################################

###
#
# BEGIN cf.linux
#
###

links:

    /local/bin/tcsh   ->  /bin/tcsh
    /local/bin/perl   ->  /usr/bin/perl

    /etc/aliases      ->! /$(site)/$(main_server)/local/mail/aliases/aliases.oih   
    /etc/sendmail.cf  ->! /$(site)/$(main_server)/local/mail/etc/sendmail.linux.cf

########################################################################

editfiles:

    { /etc/rc.d/rc.6

    WarnIfNoSuchLine   "exec /local/mutils/bin/start-xdm"
    WarnIfLineStarting "exec /usr/X11/bin/xdm"
    }

    { /etc/rc.d/rc.S

    HashCommentLinesContaining "motd"
    }

    { /.rhosts

    AppendIfNoSuchLine "$(main_server)"
    AppendIfNoSuchLine "$(main_server).$(domain)"
    }

    { /etc/csh.cshrc

    AppendIfNoSuchLine "setenv TZ MET"
    }


    { /etc/host.conf

    PrependIfNoSuchLine "order hosts,bind,nis"
    DeleteLinesStarting "order hosts, bind"
    }

   { /etc/services

   AppendIfNoSuchLine "cfinger         2003/tcp"
   }


   { /etc/inetd.conf

   AppendIfNoSuchLine "finger  stream  tcp     nowait  daemon  /local/etc/in.fingerd in.fingerd"
   AppendIfNoSuchLine "cfinger stream  tcp     nowait  daemon  /local/etc/in.cfingerd in.cfingerd"
   }

#########################################################################

shellcommands:

  borg::

     #
     # Find/locate database
     #

     "/usr/bin/updatedb"

#########################################################################

directories:

   #
   # Make printer spool directories...
   #

   /var/spool/VirtualLight  o=root g=other mode=755

#########################################################################

copy:

   /iu/nexus/local/gnu/lib/cfengine/inputs dest=$(gnu)/lib/cfengine/inputs
   $(masterfiles)/etc/printcap.client      dest=/etc/printcap mode=0644

###
#
# END cf.linux
#
###