##################################################################
#
# cf.motd
#
# This file is used to set the message of the day file on
# each host
#
##################################################################
 
 #####
 #
 # BEGIN cf.motd
 #
 #####


control:

   #
   # This points to the file containing general text
   #

   masterfile = ( /usr/local/admin/motd-master )

   #
   # This is a version stamp. When this changes, cfengine
   # will edit the /etc/motd file
   #

   motd_version = ( "Message from mark 21 Aug 1996" )

editfiles:

      { /etc/motd

      BeginGroupIfNoSuchLine "$(motd_version)"
        EmptyEntireFilePlease
        InsertFile "$(masterfile)"
        PrependIfNoSuchLine "This system is running $(class):$(arch)"
        AppendIfNoSuchLine "$(motd_version)"
      EndGroup
      }

    linux::

      { /etc/motd

      BeginGroupIfNoSuchLine "$(motd_version)"
        AppendIfNoSuchLine "Special message for linux users"
      EndGroup
      }

 
 #####
 #
 # BEGIN cf.motd
 #
 #####



