#!/bin/sh
#
# Pre Net configuration scipt for cfengine
#
# This gets called before using attempting to configure the
# interface or use network lookup. It receives one argument which
# is the hard class of the machine.
#

# /bin/echo Machine type is $1

# For sun4 ..
# Use "-r" to keep ultrix's /bin/sh happy; need /bin/sh5 for -x

[ -r /lib/libc.so.1.8.3 ] && /bin/echo order hosts,bind,nis > /etc/host.conf
