#################################################################
#
# cf.solaris - for iu.hioslo.no
#
# This file contains solaris specific patches
#
#################################################################

###
#
# BEGIN cf.solaris
#
###

links:

      /usr/lib/sendmail     ->! /local/mail/bin/sendmail
      /etc/mail/sendmail.cf ->! /local/mail/etc/sendmail.cf
      /opt/gnu              -> /local/gnu

##############################################################

tidy:

   #
   # This file is ENORMOUS, don't let it fill disk
   #

   Wednesday::

       /var/adm   pat=wtmpx   a=0

##############################################################

copy:

   #
   # Some standard setup files, can't link because
   # machine won't boot if their not on / partition.
   #

   diskless::

      /local/etc/nsswitch.diskless dest=/etc/nsswitch.conf

   standalone::

      /local/etc/nsswitch.standalone dest=/etc/nsswitch.conf

##############################################################

editfiles:

   solaris::

      { /etc/netmasks

      DeleteLinesContaining "255.255.254.0"
      AppendIfNoSuchLine "128.39  255.255.255.0"
      }

      { /etc/defaultroute

      AppendIfNoSuchLine "128.39.89.1"
      }

##############################################################


disable:

 solaris::

    /etc/.login type=file

##############################################################

files:

    /etc/passwd       m=0644 o=root g=other action=fixplain
    /etc/shadow       m=0600 o=root g=other action=fixplain
    /etc/defaultroute m=644 o=root g=other  action=touch
    /var/adm/wtmpx    m=0644 o=adm g=adm    action=touch
    /var/adm/wtmpx    m=0644 o=adm g=adm    action=fixplain
    /tmp m=1777                             action=fixdirs


###
#
# END cf.solaris
#
###