#################################################################
#
# cf.ultrix - for iu.hioslo.no
#
# This file contains ultrix specific patches
#
#################################################################

###
#
# BEGIN cf.ultrix
#
###

files:


   ultrix::

      /etc/passwd                m=0644 r=0 o=root g=system act=fixplain
      /etc/group                 m=0644 r=0 o=root g=system act=fixplain
      /dev/kmem                  m=0640 r=0 o=root g=kmem   act=warnall
      /usr/lib/sendmail.cf       m=0644 r=0 o=root g=system act=fixall
      /etc/sendmail.cf           m=0644 r=0 o=root g=system act=fixall
###
#
# END cf.ultrix
#
###
