#################################################################
#
# cf.users - for iu.hioslo.no
#
# This file contains user specific actions
#
#################################################################

###
#
# BEGIN cf.users
#
###

tidy:

   exclude::

     #
     # Tidy up users' home dirs
     #

     home                 pat=core             r=inf       age=0
     home                 pat=a.out            r=inf       age=2
     home                 p=*%                 r=inf       age=2
     home                 p=*~                 r=inf       age=2
     home                 p=#*                 r=inf       age=1    
     home                 p=*.dvi              r=inf       age=14
     home                 p=*.log              r=inf       age=3
     home                 p=Log.*              r=inf       age=3
     home                 p=*.nfs              r=inf       age=1
     home                 p=CKP                r=inf       age=1
     home                 p=BAK                r=inf       age=1
     home                 p=log                r=inf       age=14
     home                 p=*.o                r=inf       age=7
     home                 p=*.aux              r=inf       age=3
     home/.deleted        p=*                  r=inf       age=2
     home/.wastebacket    p=*                  r=inf       age=14

     #
     # Clear the big cache files netscape creates
     #

     home/.netscape-cache p=cache????*         r=inf       age=2
     home/.MCOM-cache     p=cache????*         r=inf       age=2

#################################################################

files:

   exclude::

     #
     # Check users files are not writable to the world
     # and there are no stale links (pointing nowhere)
     #

     home mode=o-w recurse=inf action=fixall # links=tidy

#################################################################

copy:

   exclude::

   #
   # Make sure each user has an up to date standard
   # setup.  Cshrc just sources in a big standard file
   # which is kept in ~user/../.setupfiles/cshrc
   # to reduce disk wastage
   #

   $(masterfiles)/lib/Cshrc dest=home/.cshrc
   $(masterfiles)/lib/mwmrc dest=home/.mwmrc

   setup::

   $(masterfiles)/lib/xsession dest=home/.xsession mode=700

###
#
# END cf.users
#
###