#####################################################################
# 
#  CFENGINE CONFIGURATION FOR site = iu.hioslo.no
#
#  This file is for root only.
#
######################################################################

###
#
# BEGIN cfengine.conf
#
###

groups:

   #
   # Define some groups
   #
 
   iu = ( nexus ferengi regula borg dax lore axis worf )

   diskless   = ( regula ferengi lore )
   standalone = ( nexus axis dax borg worf )

   AllHomeServers   = ( nexus )
   AllBinaryServers = ( nexus borg )

   XBootServer = ( nexus )
   WWWServers  = ( nexus )
   FTPserver   = ( nexus )
   NameServers = ( nexus )
   BackupHost  = ( nexus )
   NISserver   = ( nexus )

######################################################################

control: 

   access    = ( root )

   site      = ( iu )
   domain    = ( iu.hioslo.no )
   sysadm    = ( drift@iu.hioslo.no ) 

   netmask   = ( 255.255.255.0 )
   timezone  = ( MET )
   nfstype   = ( nfs )

   sensiblesize  = ( 1000 )
   sensiblecount = ( 2 )
   editfilesize  = ( 6000 )

   actionsequence = 
      (
      mountall
      mountinfo
      checktimezone
      netconfig
      resolve
      unmount
      shellcommands
      addmounts
      links.basics
      files.basics
      directories
      links
      mailcheck
      mountall
      required
      tidy
      disable
      files
      copy
      editfiles
      )

   mountpattern = ( /$(site)/$(host) )
   homepattern = ( u? ) 

   addclasses = ( exclude )

   #
   # Macros & constants are inherited downwards in imports
   # but are not passed up to parent files. Good idea to
   # define them all here
   #

   masterfiles = ( /iu/nexus/local/mutils )
   main_server = ( nexus )
   cfbin = ( /local/gnu/lib/cfengine/bin )
   gnu = ( /local/gnu )
   ftp = ( /local/ftp )

######################################################################

homeservers:

   iu:: nexus

binservers:

   iu.solaris::                 nexus
   iu.linux::                   borg

mailserver:

   any::
          nexus:/var/mail

mountables:

   any::

         nexus:/iu/nexus/u1
         nexus:/iu/nexus/u2
         nexus:/iu/nexus/local
         nexus:/opt/NeWSprint
         borg:/iu/borg/local

miscmounts:

   borg::   nexus:/iu/nexus/local /iu/nexus/local ro


######################################################################

import:

   #
   # Split things up to keep things tidy
   #

   any::            cf.site
   hpux::           cf.hpux
   linux::          cf.linux
   solaris::        cf.solaris
   sun4::           cf.sun4
   ultrix::         cf.ultrix
   AllHomeServers:: cf.users

######################################################################

broadcast:

  ones

defaultroute:

  iu-gw

######################################################################

resolve:

      128.39.89.10  # nexus
      158.36.85.10  # samson.hioslo.no
      129.241.1.99

######################################################################

tidy: 

   #
   # Some global tidy-ups
   #

   /tmp/                    pat=*             r=inf     A=1
   /var/tmp                 pat=*             r=inf     A=1
   /                        pat=core          r=1       A=0
   /etc                     pat=core          r=1       A=0
   /var/spool/cron/crontabs pat=root.cf*                a=0

######################################################################

ignore:                       # Don't check or tidy these directories

      /local/lib/gnu/emacs/lock/
      /local/tmp
      /local/ftp
      /local/bin/top
      /local/lib/tex/fonts
      /local/etc
      /local/www
      /local/httpd_1.4/conf
      /usr/tmp/locktelelogic
      /usr/tmp/lockIDE

      #
      # Emacs lock files etc
      #

      !*

      #
      # X11 keeps X server data in /tmp/.X11
      # better not delete this!
      #

      .X11

      #
      # Some users like to give a file or two 777 protection here
      # so netsurfers can update a log or counter when running as
      # `nobody'
      #

      www

#####################################################################

disable:

   /etc/hosts.equiv
   /etc/nologin
   /usr/lib/sendmail.fc


###
#
# END cfengine.conf
#
###