#!PERL

#  Copyright (c) 1991, 1992, 1993 Xerox Corporation.  All Rights Reserved.  
#  
#  Unlimited use, reproduction, and distribution of this software is
#  permitted.  Any copy of this software must include both the above
#  copyright notice of Xerox Corporation and this paragraph.  Any
#  distribution of this software must comply with all applicable United
#  States export control laws.  This software is made available AS IS,
#  and XEROX CORPORATION DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED,
#  INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY
#  AND FITNESS FOR A PARTICULAR PURPOSE, AND NOTWITHSTANDING ANY OTHER
#  PROVISION CONTAINED HEREIN, ANY LIABILITY FOR DAMAGES RESULTING FROM
#  THE SOFTWARE OR ITS USE IS EXPRESSLY DISCLAIMED, WHETHER ARISING IN
#  CONTRACT, TORT (INCLUDING NEGLIGENCE) OR STRICT LIABILITY, EVEN IF
#  XEROX CORPORATION IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
#  
#  $Id: texinfo2info.dist,v 1.11 1996/03/13 01:38:39 janssen Exp $

$pbmpluschain = "ILUHOME/bin/eps2gif 2>/dev/null | GIFTOPPM | PPMQUANT 2 | PPMTOPGM | PNMSCALE -width 156 | PGMTOPBM | PBMTOASCII -2x4 ";

sub stderrcat {
  local($file) = $_[0];

  if (open ($file, $file)) {
    while (<$file>)
      { print STDERR; };
    close($file);
  }
}

sub stdoutcat {
  local($file) = $_[0];

  if (open ($file, $file)) {
    while (<$file>)
      { print; }
    close ($file);
  }
}

sub random_filename {
  join ('', '/tmp/', time, int(rand(65536)), getpgrp);
}

if ( $#ARGV < 0 ) {
	print STDERR "Usage:  texinfo2info INPUTFILE.texinfo >OUTPUTFILE.info\n";
	exit 1;
};

$texinfoFile = $ARGV[0];
$interFile = &random_filename;
$errorFile = &random_filename;
$infoFile = &random_filename;

if (open ($texinfoFile, $texinfoFile)) {
  if (!open ($interFile, ">$interFile")) {
	die "Can't open output file $interFile";
  }   
  while ($_ = <$texinfoFile>) {
	s/\@ttitalic/\@t/g;
	if ( /^\@picture ([^ \t\n]*)/ && ( $filename = $1) ) {
		$imagefile = &random_filename;
		if ((system("cat $filename | $pbmpluschain >$imagefile")/255) == 0) {
			print $interFile "\n[picture $filename:]\n\n";
			print $interFile "@example\n";
			if (open ($imagefile, $imagefile)) {
				while ($_ = <$imagefile>) { print $interFile $_; };
				close ($imagefile);
			}
			unlink ($imagefile);
			print $interFile "@end example\n";
		} else {
			print $interFile " [ Can't include picture $filename. ]";
		}
	} else {
	print $interFile $_;
	}
  }
  close($texinfoFile);
  close($interFile);
}	

if ((system ("MAKEINFO --no-split --output $infoFile --no-validate $interFile >$errorFile 2>&1 </dev/null")/256) == 0) {
      unlink $errorFile;
      unlink $interFile;
}
else {
  print STDERR "MAKEINFO:\n";
  &stderrcat ($errorFile);
  unlink $infoFile;
  unlink $errorFile;
  unlink $interFile;
  exit 1;
}
&stdoutcat ($infoFile);
unlink $infoFile;
exit 0;
